@charset "UTF-8";

@font-face {
    font-family: 'rupee';
    src: url('../fonts/webrupee.v2.0-webfont.eot');
    src: url('../fonts/webrupee.v2.0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webrupee.v2.0-webfont.woff2') format('woff2'),
         url('../fonts/webrupee.v2.0-webfont.woff') format('woff'),
         url('../fonts/webrupee.v2.0-webfont.ttf') format('truetype'),
         url('../fonts/webrupee.v2.0-webfont.svg#webrupeebook') format('svg');
    font-weight: normal;
    font-style: normal;
}

.inr
{
    font-family: 'rupee';
    font-size:96%;
    color:inherit;
    margin:0 1px 0 0;
}

@font-face {
  font-family: "font-icons";
  src:url("../fonts/font-icons.eot");
  src:url("../fonts/font-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/font-icons.woff") format("woff"),
    url("../fonts/font-icons.ttf") format("truetype"),
    url("../fonts/font-icons.svg#font-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "font-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "font-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\61";
}
.icon-notebook:before {
  content: "\62";
}
.icon-download:before {
  content: "\64";
}
.icon-home:before {
  content: "\65";
}
.icon-basket:before {
  content: "\66";
}
.icon-help:before {
  content: "\68";
}
.icon-cal:before {
  content: "\69";
}
.icon-pencil:before {
  content: "\6a";
}
.icon-updown:before {
  content: "\6b";
}
.icon-ban:before {
  content: "\6c";
}
.icon-warning:before {
  content: "\6d";
}
.icon-box:before {
  content: "\6e";
}
.icon-trollery:before {
  content: "\6f";
}
.icon-payments:before {
  content: "\70";
}
.icon-timemoney:before {
  content: "\71";
}
.icon-rupee:before {
  content: "\72";
}
.icon-hammer:before {
  content: "\73";
}
.icon-mic:before {
  content: "\74";
}
.icon-briefcase:before {
  content: "\75";
}
.icon-layers:before {
  content: "\76";
}
.icon-growth:before {
  content: "\77";
}
.icon-badge:before {
  content: "\78";
}
.icon-bars:before {
  content: "\79";
}
.icon-bell:before {
  content: "\7a";
}
.icon-search:before {
  content: "\41";
}
.icon-right-arrow:before {
  content: "\43";
}
.icon-down-arrow:before {
  content: "\44";
}
.icon-business:before {
  content: "\45";
}
.icon-envelope:before {
  content: "\42";
}
.icon-eye:before {
  content: "\67";
}
.icon-plus:before {
  content: "\48";
}
.icon-black:before {
  content: "\49";
}
.icon-camera:before {
  content: "\4a";
}
.icon-lock:before {
  content: "\4b";
}
.icon-minus:before {
  content: "\4c";
}
.icon-bags:before {
  content: "\46";
}
.icon-coins:before {
  content: "\47";
}
.icon-money:before {
  content: "\4d";
}
.icon-trash:before {
  content: "\63";
}
.icon-clip:before {
  content: "\4e";
}
.icon-close:before {
  content: "\4f";
}
