/*
  @Author : Fractalink Design Studio
  @Project : Syska Mart Dashboard Website
  @Dev : Sukanya Pedamkar
  @Date : 1st March 2016;
*/


/*------------------------------- Base Style : Start -------------------------------*/

body {
    background: #f2efef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 'normal';
    color: #000000;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.notinpage {
    position: absolute;
    left: -99999px;
    top: -99999px;
}

a,
a:hover,
a:focus {
    color: #0085e1;
    text-decoration: none;
    outline: 0;
}

label {
    margin-bottom: 0;
}

textarea {
    resize: none;
}

p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.thumbnail,
.img-thumbnail {
    border: none;
    box-shadow: none;
    background: transparent;
}


/* Theme Style */

.theme-white {
    background: #ffffff;
}

.theme-transparent {
    background: transparent;
}


/*------------------------------- Common Style : Start -------------------------------*/

.line-break {
    display: block;
}

.margintop-45 {
    margin-top: 45px;
}

.view {
    float: right;
    color: #a3a3a3;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.head-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
    color: #000000;
    margin: 0 15px 5px 0;
    text-transform: uppercase;
}

.mod-title {
    font-size: 18px;
    line-height: 20px;
    display: block;
    font-weight: 700;
    color: #000000;
}

.big-title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 800;
}


/* button styling */

.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:active:hover {
    font-size: 12px;
    line-height: 14px;
    outline-offset: 0;
    outline: transparent;
    box-shadow: none;
    text-transform: uppercase;
    color: #ffffff;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:hover {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    background: #79ba2f;
    border-radius: 4px;
}

.roundBodr-btn,
.roundBodr-btn:hover,
.roundBodr-btn:focus,
.roundBodr-btn:active,
.roundBodr-btn:active:hover
 {
    padding: 9px 18px;
    border-radius: 21px;
    border: 1px solid #17ae4c;
    color: #17ae4c;
    background: #ffffff;
    font-weight: 700;
}

.roundBodr-btn.red,
.roundBodr-btn.red:hover {
    border-color: #cc4444;
    color: #cc4444;
}

.blue-btn,
.blue-btn:hover,
.blue-btn:focus,
.blue-btn:active,
.blue-btn:active:hover {
    background: #0085e1;
    border-radius: 0px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    padding: 14px 16px;
    border: 1px solid #0085e1;
}

.roundBg-btn,
.roundBg-btn:hover,
.roundBg-btn:active,
.roundBg-btn:focus,
.roundBg-btn:active:hover {
    background: #79ba2f;
    padding: 11px 30px;
    border-radius: 50px;
    font-weight: 800;
}

.blackBodr-btn,
.blackBodr-btn:hover,
.blackBodr-btn:active,
.blackBodr-btn:focus,
.blackBodr-btn:active:hover {
    background: transparent;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 12px 20px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.btn .icon {
    float: right;
    margin-left: 5px;
    font-size: 15px;
    line-height: 16px;
}

.btn .icon.pull-left {
    margin-left: 0;
    margin-right: 5px;
    font-size: 15px;
    line-height: 16px;
}


/* text styling */

.text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.green-text,
.green-text:hover {
    color: #17ae4c;
    font-weight: 600;
}

.red-text,
.red-text:hover {
    color: #d20000;
}


/* section styling */

.section-wrap {
    display: block;
    overflow: hidden;
    padding: 25px 20px;
}

.section-title-wrap {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.section-cont {
    display: block;
}

.section-title {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}


/* checkbox styling */

.checkbox-wrap {
    position: relative;
    overflow: hidden;
}

.checkbox-wrap input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 8px;
}

.checkbox-wrap input[type="checkbox"]:not(old) + label {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    color: #a3a3a3;
    font-weight: 400;
    padding: 8px 5px 8px 25px;
    cursor: pointer;
    background: url("../images/common_sprite.svg") no-repeat 0 8px transparent;
}

.checkbox-wrap input[type="checkbox"]:checked:not(old) + label {
    background-position: 0 -66px;
}


/* Input Search Styling */

.search-wrap {
    color: #d4d4d4;
    border: 1px solid #d4d4d4;
    overflow: hidden;
    border-radius: 50px;
    position: relative;
    margin: 5px 0;
    width: 310px;
}

.search-wrap input[type="text"] {
    border: none;
    padding: 13px 5px 13px 18px;
    width: 88%;
    float: left;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: transparent;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #a3a3a3;
}

.search-wrap .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: transparent;
    font-size: 24px;
    color: #999999;
    display: block;
    width: 12%;
}

.search-wrap .icon-search:before {
    margin-top: 5px;
    display: inline-block;
    font-size: 18px;
}


/* separator*/

.separator {
    background: #ccc none repeat scroll 0 0;
    border-color: #fff;
    border-style: solid;
    border-width: 8px 10px 9px;
    display: table-cell;
    margin: 8px 0;
    width: 21px;
}


/* Browse upload section styling */

.browse-section {
    margin: 15px 0 30px 0;
    overflow: hidden;
}

.browse-section .fileUpload input.upload {
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.browse-section .fileUpload {
    padding: 8px 20px;
    margin-left: 10px;
}

.browse-section .fileUpload.btn,
.browse-section .fileUpload.btn:active,
.browse-section .fileUpload.btn:focus,
.browse-section .fileUpload.btn:active:hover {
    font-size: 12px;
    margin-top: 0;
    color: #000000;
    padding: 8px 20px;
}


/* upload-wrap styling */

.upload-wrap {
    margin-right: 20px;
}

.upload-wrap .upload-cont {
    float: left;
    width: 100px;
    height: 64px;
    margin: 5px 10px;
    position: relative;
}

.upload-wrap .img-cont {
    width: 100px;
    height: 64px;
    overflow: hidden;
    text-align: center;
}

.upload-wrap .img-cont img {
    width: auto;
    height: 100%;
}

.upload-wrap .icon-close {
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    right: -7px;
    top: -7px;
    line-height: 13px;
    cursor: pointer;
    background: #ffffff;
}

.upload-wrap .btn,
.upload-wrap .btn:active,
.upload-wrap .btn:focus,
.upload-wrap .btn:active:hover {
    margin: 15px 0 0 20px;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}


/* data value block styling */

.data-wrap {
    display: inline-block;
    word-break: break-word;
}

.data-wrap .data-name {
    color: #a3a3a3;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    display: block;
}

.data-wrap .data-value {
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.data-wrap .data-value.small-text {
    font-size: 14px;
    line-height: 16px;
}

.data-wrap.icon-minus:before,
.data-wrap.icon-total:before {
    border-top: 2px solid #000;
    content: "";
    height: 1px;
    position: absolute;
    right: 40px;
    top: 50%;
    width: 6px;
}

.data-wrap.icon-total:before {
    border-bottom: 2px solid #000;
    width: 12px;
    height: 6px;
}

.data-wrap.total-val .data-name {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0px;
}

.data-wrap.total-val .data-value {
    font-size: 30px;
    line-height: 32px;
}

.data-wrap .price-info-cont,
.price-info-cont {
    margin-bottom: 35px;
}


/* product content styling */

.product-img {
    border: 1px solid #d2d2d2;
    width: 190px;
    height: 190px;
    line-height: 190px;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
    float: left;
}

.product-img img {
    vertical-align: middle;
}

.product-info-cont {
    overflow: hidden;
    display: block;
}


/* edit val styling : Catalogue Landing Edit Page */

.edit-val {
    position: relative;
}

.edit-val .value-wrap {
    position: relative;
    margin-right: 18px;
}

.edit-val .value-wrap .value {
    display: block;
}

.edit-val input[type="text"] {
    border: none;
    border-bottom: 1px solid #000000;
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: #999999;
    top: 0;
}

.edit-val .icon-pencil {
    position: absolute;
    right: 0;
    top: 2px;
    cursor: pointer;
    font-size: 15px;
}

.edit-val.active .value {
    display: none;
}

.edit-val.active input[type=text] {
    display: block;
}


/* toggle button styling */

.toggle-btn-wrap {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
}

.toggle-btn-wrap label {
    color: #777677;
    border: 1px solid #a9a9a9;
    background: transparent;
    border-radius: 0;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    padding: 14px;
}

.toggle-btn-wrap input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
    left: 10px;
}

.toggle-btn-wrap input[type="checkbox"]:checked:not(old) + label {
    color: #0085e1;
    border-color: #0085e1;
}


/*------------------------------- Common Style : End -------------------------------*/

.mainWrapper {
    position: relative;
}


/* header styling */

.headerWrapper {
    background: #ffffff;
    position: fixed;
    padding: 13px 15px 13px 30px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(102, 102, 102, 1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(102, 102, 102, 1);
    box-shadow: 1px 1px 3px 0px rgba(102, 102, 102, 1);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    height: 70px;
    left: 0;
    margin-left: 250px;
    right: 0;
    z-index: 10;
}

.headerWrapper .menu-button {
    border-radius: 3px;
    float: left;
    margin: 10px 18px 10px 0;
    background: #0085e1;
    width: 35px;
    height: 24px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
}

.headerWrapper .company-logo {
    width: 144px;
    float: left;
}

.headerWrapper .company-logo img {
    width: 100%;
}


/* header dropdown styling */

.headerWrapper .nav-wrapper {
    margin: 0 10px;
}

.headerWrapper .msg-list {
    padding: 15px 10px 18px;
    margin: 0 5px;
}

.headerWrapper .msg-list .dropdown-toggle {
    position: relative;
    display: inline-block;
}

.headerWrapper .msg-list .icon {
    color: #a8a8a8;
    width: 22px;
    height: 18px;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
}

.headerWrapper .msg-list .badge {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0085e1;
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    padding: 0;
    top: -6px;
    right: -6px;
}

.headerWrapper .msg-list .dropdown-wrap {
    position: absolute;
    right: -27px;
    top: 35px;
    display: none;
    width: 445px;
    padding-top: 22px;
}

.headerWrapper .msg-list .dropdown-cont {
    padding: 20px 30px;
    background: #282727;
    color: #ffffff;
}

.headerWrapper .msg-list .dropdown-cont:after {
    bottom: 100%;
    right: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(40, 39, 39, 0);
    border-bottom-color: #282727;
    border-width: 15px;
    margin-left: -15px;
    top: -8px;
}

.headerWrapper .msg-list .dd-header {
    padding: 20px 0;
    font-weight: 800;
    text-transform: uppercase;
}

.headerWrapper .msg-list .dd-header .dd-title {
    font-size: 20px;
    line-height: 22px;
    display: inline-block;
    font-weight: 800;
}

.headerWrapper .msg-list .dd-header .viewall {
    font-size: 15px;
    line-height: 25px;
    float: right;
    color: #ffffff;
}

.headerWrapper .msg-list .dd-body {
    padding: 10px 0;
    overflow: hidden;
}

.headerWrapper .msg-list .dd-body ul li {
    margin-bottom: 30px;
}

.headerWrapper .msg-list .dd-body ul li a {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
    display: block;
}

.headerWrapper .msg-list .dd-body ul li:hover a {
    color: #e7e7e7;
}

.headerWrapper .msg-list:hover .icon {
    color: #717171
}

.headerWrapper .msg-list:hover .dropdown-wrap {
    display: block;
}


/* footer styling */

.footerWrapper {
    position: relative;
    bottom: 0;
    padding: 20px 25px;
    left: 0;
    margin-left: 250px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.footerWrapper .copyRight {
    font-size: 14px;
    line-height: 16px;
    display: block;
    color: #767576;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: 5px;
}

.menu-collapsed .headerWrapper {
    margin-left: 70px;
}

.menu-collapsed .footerWrapper {
    margin-left: 70px;
}

.menu-collapsed .sidebarSection {
    width: 70px;
}

.menu-collapsed .sidebarSection .subMenu.in {
    display: none;
}


/* Sidebar section styling */

.sidebarSection {
    background: #222121;
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 3;
}


/* user info styling */

.user-info-wrap {
    padding: 25px 10px;
    overflow: hidden;
}

.user-info-wrap .profile-img {
    float: left;
    width: 65px;
    height: 65px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.user-info-wrap .profile-img img {
    width: 100%;
}

.user-info-wrap .user-info {
    color: #ffffff;
    padding-top: 8px;
}

.user-info-wrap .user-info .title {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
}

.user-info-wrap .user-info .user-name {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.user-action-btn {
    margin-top: 8px;
}

.user-action-btn a {
    color: #8e8b8b;
    font-size: 12px;
    line-height: 10px;
    display: inline-block;
    border-right: 1px solid #8e8b8b;
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
}

.user-action-btn a:last-child {
    border-right: none;
}

.sidebar-nav .panel,
.dashboard .sidebar-nav .panel {
    background: transparent;
    padding: 0;
    margin: 0;
    position: relative;
}

.sidebar-nav ul li .sidebar-nav-item {
    display: block;
    padding: 21px 22px;
    font-size: 16px;
    line-height: 18px;
    color: #8e8b8b;
    font-weight: 300;
    background: #222121;
    overflow: hidden;
}

.sidebar-nav ul li:hover .sidebar-nav-item,
.sidebar-nav ul li.active .sidebar-nav-item {
    color: #ffffff;
    background: #191919;
}

.sidebar-nav ul li .sidebar-nav-item .sidebar-icon {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    float: left;
}

.sidebar-nav .nav-arrow {
    float: right;
}

.sidebar-nav .subMenu ul {
    padding: 8px 0 22px;
    background: #191919;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.sidebar-nav .subMenu ul li a {
    font-size: 12px;
    line-height: 14px;
    background: #191919;
    display: block;
    color: #8e8b8b;
    text-decoration: none;
    padding: 8px 52px 8px 62px;
    word-break: break-word;
}

.menu-collapsed .user-info-wrap {
    display: block;
    overflow: hidden;
}

.menu-collapsed .user-info-wrap .profile-img {
    width: 45px;
    height: 45px;
}

.menu-collapsed .user-info-wrap .user-info {
    display: none;
}

.menu-collapsed .sidebar-nav ul li .sidebar-nav-item .sidebar-icon {
    margin-right: 0;
}

.menu-collapsed .sidebar-nav ul li .sidebar-nav-item .sidebar-text {
    display: none;
}

.menu-collapsed .sidebar-nav ul li .sidebar-nav-item .nav-arrow {
    display: none;
}

.menu-collapsed .sidebar-nav .subMenu {
    position: absolute;
    min-width: 150px;
    background: #191919;
    top: 0;
    left: 70px;
    padding: 10px 0;
    z-index: 2;
}

.menu-collapsed .sidebar-nav ul li:hover .subMenu {
    display: block;
}

.menu-collapsed .sidebar-nav .subMenu ul li a {
    padding: 15px;
}

.sidebar-nav .subMenu ul li:hover a {
    color: #ffffff;
}

.menu-collapsed .sidebar-nav .subMenu ul {
    padding: 0;
}


/* Content styling */

.contentWrapper {
    position: relative;
    overflow: hidden;
    margin-left: 250px;
    min-height: 500px;
    padding: 100px 15px 25px 30px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.menu-collapsed .contentWrapper {
    margin-left: 70px;
}


/* sectionWrapper styling */

.sectionWrapper {
    padding: 25px 0;
}

.sectionWrapper .action-wrapper {
    margin-top: 20px;
}


/* breadcrumb styling */

.breadcrumbWrap {
    display: block;
    margin: 0 15px 25px 0;
}

.breadcrumbWrap .breadcrumb {
    background: transparent;
    padding: 0;
}

.breadcrumbWrap ol li,
.breadcrumbWrap ol li a {
    font-size: 12px;
    line-height: 12px;
    color: #8e8c8c;
    font-weight: 600;
}

.breadcrumb > li + li:before {
    color: #8e8c8c;
    content: ">";
    font-size: 12px;
    line-height: 12px;
    padding: 0 6px;
    float: left;
}


/* OR section styling */

.or-section {
    position: relative;
    display: block;
    overflow: hidden;
    height: 52px;
    margin: 15px 0;
}

.or-section .or {
    font-size: 14px;
    line-height: 16px;
    color: #d6d6d6;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 45%;
    margin: -23px 0 0 -23px;
    display: inline-block;
    z-index: 1;
    line-height: 52px;
    vertical-align: middle;
    text-align: center;
}

.or-section .hor-line {
    height: 1px;
    background: #d6d6d6;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}


/*------------------------------ Module Style : Start ------------------------------*/


/* Table Styling */

.table {
    margin-bottom: 0;
}

.table tr td,
.table tr th {
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.table tr th {
    color: #737373;
    font-weight: 700;
}

.table thead > tr > th,
.table tbody > tr > td {
    padding: 20px 10px;
}

.table tbody tr:last-child td {
    border-bottom: none;
    padding-bottom: 10px;
}

.table label,
.table p {
    color: #767576;
    font-weight: 400;
}

.table p {
    color: #000000;
}

.table .green-text,
.table .green-text:hover {
    color: #17ae4c;
    font-weight: 600;
}

.table .red-text,
.table .red-text:hover {
    color: #cc4444;
    font-weight: 600;
}


/* table-summary styling */

.table-summary .panel-heading {
    padding: 5px 0 10px 5px;
}

.table-summary .panel-body {
    padding: 0;
}

.table-summary .panel-title {
    display: inline-block;
}

.table-summary .mod-title {
    margin-left: 6px;
}

.table-summary .table tr td {
    border-bottom: 1px solid #efefef;
}

.table-summary .roundBodr-btn {
    margin: 5px;
}

.table-summary .table tr td a {
    font-weight: 600;
}

.table-summary.panel {
    padding: 25px;
}


/* panel styling */

.panel {
    padding: 15px 10px;
    border: none;
    box-shadow: none;
}

.panel-heading {
    position: relative;
    padding: 15px;
}

.panel-title {
    font-size: 18px;
    line-height: 20px;
    display: block;
    font-weight: 700;
    color: #000000;
    display: inline-block;
}

.panel-group .panel + .panel {
    margin-top: 0;
}


/* icon wrap styling */

.icon-wrap {
    display: inline-block;
}

.icon-wrap ul li {
    border-right: 1px solid #5e5957;
    cursor: pointer;
    float: left;
}

.icon-wrap ul li:last-child {
    border-right: 0;
}

.icon-wrap ul li .icon {
    display: block;
    padding: 0 5px;
    margin: 0 5px;
    color: #5e5957;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
}


/* mod-status style */

.mod-status {
    height: 195px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(229, 226, 226, 1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(229, 226, 226, 1);
    box-shadow: 0px 0px 3px 1px rgba(229, 226, 226, 1);
    text-align: center;
    position: relative;
    background: #ffffff;
    border-radius: 4px;
    margin: 6px 4px;
}

.mod-status .icon-wrap {
    height: 50%;
    border-bottom: 1px solid #d7d7d7;
    display: block;
    position: relative;
}

.mod-status .icon-wrap .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -14px 0 0 -14px;
    font-size: 30px;
    line-height: 32px;
    color: #f6bb5e;
}

.mod-status .icon-wrap .icon-clock {
    color: #e8415c;
}

.mod-status .icon-wrap .icon-notebook {
    color: #8b5cad;
}

.mod-status .icon-wrap .icon-box {
    color: #4094f2;
}

.mod-status .icon-wrap .icon-trollery {
    color: #17ae4c;
}

.mod-status .status-count-wrap {
    background: #f8f8f8;
    display: block;
    position: relative;
    height: 50%;
}

.mod-status .status-count-wrap .status-count {
    font-size: 30px;
    line-height: 32px;
    margin: 40px 0 0 0;
    display: inline-block;
}

.mod-status .status-text {
    position: absolute;
    width: 120px;
    border-radius: 50px;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    background: #ffffff;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -60px;
    padding: 5px 0;
    z-index: 1;
    text-transform: uppercase;
    color: #000000;
}

.mod-status .status-text span {
    display: block;
    color: #8d8d8d;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
}


/* mod-desc-listing styling */

.mod-desc-listing ul li {
    display: block;
    padding: 14px 0;
    border-bottom: 1px solid #efefef;
    position: relative;
}

.mod-desc-listing ul li:first-child {
    padding-top: 0;
}

.mod-desc-listing ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.mod-desc-listing ul li a
{
    color: #343434
}


/* mod-descInfo-listing styling */

.mod-descInfo-listing p {
    margin-right: 120px;
    display: inline-block;
    color: #767576;
    font-size: 15px;
    line-height: 20px;
}

.mod-descInfo-listing .date-info {
    color: #bababa;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    right: 0;
    top: 15px;
}

.mod-descInfo-listing ul li:first-child .date-info {
    top: 0;
}


/* Mod Add Widget styling */

.mod-addWidget {
    text-align: center;
    overflow: hidden;
}

.mod-addWidget a {
    font-size: 30px;
    line-height: 32px;
    color: #737373;
    padding: 62px 0;
    display: block;
}

.mod-addWidget .bold {
    font-weight: 700;
}


/* mod-activity-listing styling */

.mod-activity-listing ul li {
    float: left;
    width: 100%;
    padding-bottom: 35px;
    position: relative;
}

.mod-activity-listing ul li .activity-listing {
    display: block;
    position: relative;
    z-index: 1;
}

.mod-activity-listing ul li .activity-listing .icon-wrap {
    width: 34px;
    height: 34px;
    background: #21bcaf;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    color: #ffffff;
}

.mod-activity-listing ul li .activity-listing .icon-wrap .icon {
    display: block;
    text-align: center;
    line-height: 38px;
    vertical-align: middle;
    font-size: 18px;
}

.mod-activity-listing ul li:nth-child(2) .activity-listing .icon-wrap {
    background: #ea8929;
}

.mod-activity-listing ul li:nth-child(3) .activity-listing .icon-wrap {
    background: #e1c400;
}

.mod-activity-listing ul li:nth-child(4) .activity-listing .icon-wrap {
    background: #ad63d7;
}

.mod-activity-listing ul li:nth-child(5) .activity-listing .icon-wrap {
    background: #5ca1e7;
}

.mod-activity-listing ul li .activity-listing .info-wrap {
    overflow: hidden;
    padding-top: 5px;
}

.mod-activity-listing ul li .activity-listing .info-wrap .title {
    font-size: 14px;
    line-height: 16px;
    color: #585858;
    font-weight: 700;
    margin-bottom: 8px;
}

.mod-activity-listing ul li .activity-listing .info-wrap .desc {
    color: #a6a5a6;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
    font-weight: 300;
}

.mod-activity-listing ul li .activity-listing .info-wrap .date-time {
    font-size: 12px;
    line-height: 14px;
    color: #c2c1c2;
    display: block;
    font-weight: 300;
}

.mod-activity-listing ul li .line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #e3e3e3;
    z-index: 0;
    left: 17px;
}


/* mod-payment-summary styling */

.mod-payment-summary ul li {
    float: left;
    border-right: 1px solid #e5e5e5;
    width: 50%;
}

.mod-payment-summary ul li:last-child {
    border-right: none;
}

.mod-payment-summary .summary-cont {
    display: block;
    margin: 0 50px;
}

.mod-payment-summary ul li:first-child .summary-cont {
    margin-left: 0;
}

.mod-payment-summary ul li:last-child .summary-cont {
    margin-right: 0;
}

.mod-payment-summary .summary-cont .icon {
    width: 53px;
    height: 53px;
    background: #f5af63;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    color: #ffffff;
}

.mod-payment-summary .summary-cont .icon:before {
    font-size: 30px;
    line-height: 53px;
    display: block;
    text-align: center;
}

.mod-payment-summary .summary-cont .icon.redBg {
    background: #f57b63;
}

.mod-payment-summary .summary-cont .cont-wrap {
    display: block;
    overflow: hidden;
}

.mod-payment-summary .summary-cont .cont-wrap .amount-wrap {
    margin-top: 10px;
}

.mod-payment-summary .summary-cont .cont-wrap .amount-wrap .amt {
    font-size: 36px;
    line-height: 26px;
    font-weight: 300;
}
.mod-payment-summary .summary-cont .cont-wrap .amount-wrap .amt .inr{
    font-size: 60%;
}
.mod-payment-summary .summary-cont .cont-wrap .amount-wrap .title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    margin-bottom: 18px;
    color: #585858;
}
.mod-payment-summary .summary-cont .cont-wrap .desc {
    font-size: 14px;
    line-height: 18px;
    color: #7e7e7e;
    font-weight: 300;
    margin-bottom: 25px;
}


/* mod-rating styling */

.mod-rating .status-cont {
    margin-top: 20px;
    padding: 0 35px;
    font-size: 18px;
    line-height: 20px;
    color: #b3b0b0;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.mod-rating .status-cont .count {
    font-size: 88px;
    font-weight: 700;
    color: #f6b800;
    line-height: 90px;
    display: block;
}
.mod-rating .text {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #a3a3a3;
    margin: 10px 0 0 10px;
    display: block;
}
    /* graph styling */
    .mod-rating .graph-cont {
        width: 100%;
    }
    .mod-rating .rate-chart {
        width: 100%;
        margin: 0 auto;
    }
    .mod-rating .rate-chart .ct-bar {
        stroke-width: 15px;
    }
    .mod-rating .rate-chart .ct-label {
        font-size: 14px;
        color: #666666;
    }
    .mod-rating .rate-chart .ct-labels .ct-label:last-child {
        vertical-align: middle;
    }
    .mod-rating .rate-chart .ct-series-a .ct-bar {
        stroke: #f6b800;
        vertical-align: middle;
    }


/* mod-product-detail styling */

.mod-product-detail {
    overflow: hidden;
    position: relative;
}

.mod-product-detail .product-img {
    width: 190px;
    height: 190px;
    line-height: 190px;
}

.mod-product-detail .product-title {
    color: #737373;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: block;
}

.mod-product-detail .data-name {
    color: #a3a3a3;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.mod-product-detail .data-value {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
}

.mod-product-detail .off-price {
    font-size: 12px;
    line-height: 14px;
    color: #0085e1;
}

.mod-product-detail .spec {
    font-size: 12px;
    line-height: 14px;
    color: #cacaca;
    font-weight: 400;
    display: block;
    margin-top: 3px;
}

.mod-product-detail del {
    color: #a3a3a3;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}


/* mod-search-product styling */

.mod-search-product {
    background: #ffffff;
    padding: 30px;
    overflow: hidden;
    margin: 15px;
    min-height: 352px;
}

.mod-search-product:first-child {
    margin-left: 0;
}

.mod-search-product .mod-title {
    margin-bottom: 15px;
}

.mod-search-product p {
    color: #a3a3a3;
    line-height: 18px;
    margin-bottom: 15px;
}

.mod-search-product .blue-btn {
    width: 100%;
    display: block;
    margin-left: 0;
}

.mod-search-product .search-wrap {
    width: auto;
}


/* mod-select-listing styling */

.mod-select-listing {
    padding: 30px 5px;
    background: #ffffff;
    margin: 20px 35px 20px 0;
    overflow: hidden;
}

.mod-select-listing .panel-heading,
.mod-select-listing .panel-body {
    padding: 0;
}

.mod-select-listing .panel-title {
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin: 0 20px 15px;
}

.mod-select-listing {
    padding: 30px 0;
}

.mod-select-listing ul {
    float: left;
    width: 100%;
    height: 200px;
    overflow-y: auto;
}

.mod-select-listing ul li {
    float: left;
    width: 100%;
    cursor: pointer;
}

.mod-select-listing ul li a {
    float: left;
    width: 100%;
    padding: 8px 20px;
    font-size: 12px;
    line-height: 14px;
    color: #a3a3a3;
    font-weight: 400;
}

.mod-select-listing ul li:hover a,
.mod-select-listing ul li:hover .checkbox-wrap,
.mod-select-listing ul li.active a {
    background: #e2e2e2;
}

.mod-select-listing .checkbox-wrap {
    padding: 0 20px;
}


/* mod-product-spec-wrap styling */

.mod-product-spec-wrap {
    margin-top: 20px;
}

.mod-product-spec-wrap .panel-header {
    overflow: hidden;
    padding: 0 22px 0 15px;
}

.mod-product-spec-wrap .panel-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
}

.mod-product-spec-wrap .product-count {
    display: block;
    color: #cecece;
    font-weight: 400;
    margin-top: 2px;
    text-transform: lowercase;
}


/* mod-product-spec-list styling */

.mod-product-spec-list ul {
    float: left;
    width: 100%;
}

.mod-product-spec-list > ul.customScroll {
    height: 400px;
    margin-top: 10px;
}

.mod-product-spec-list > ul li {
    float: left;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #efefef;
    padding: 20px 0;
}

.mod-product-spec-list ul li:last-child {
    border-bottom: 0;
}

.mod-product-spec-list .product-img {
    width: 80px;
    height: 80px;
    float: left;
    line-height: 80px;
    margin-right: 15px;
}

.mod-product-spec-list .product-img img {
    width: auto;
}

.mod-product-spec-list .product-title {
    margin-bottom: 15px;
}

.mod-product-spec-list .mod-product-detail ul li {
    float: left;
    width: auto;
    padding: 0;
    padding-right: 25px;
    border-bottom: none;
}

.mod-product-spec-list .btn {
    position: absolute;
    right: 45px;
    bottom: 0;
}

.mod-product-spec-list .data-wrap {
    margin-right: 10px;
}

.mod-product-spec-list .data-name {
    font-weight: 400;
}

.mod-product-spec-list ul li .mod-product-detail .icon-pencil {
    position: absolute;
    right: 30px;
    color: #333333;
    font-size: 18px;
    top: 0;
}

.mod-product-spec-list ul li .mod-product-detail .edit-val .icon-pencil {
    right: 0;
    font-size: 15px;
    top: 2px;
}


/* mod-tab styling */

.tab-wrap .nav {
    margin: 0 0 13px;
}

.tab-wrap .nav li {
    margin: 0 10px 0 0;
}

.tab-wrap .nav li a {
    color: #858383;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 18px;
    border-radius: 0;
    font-weight: 600;
}

.tab-wrap .nav > li.active > a,
.tab-wrap .nav > li > a:hover,
.tab-wrap .nav > li.active > a:hover,
.tab-wrap .nav > li.active > a:focus {
    color: #000;
    outline: medium none
}

.tab-wrap .nav-pills > li.active > a,
.tab-wrap .nav-pills > li > a:hover,
.tab-wrap .nav-pills > li.active > a:hover,
.tab-wrap .nav-pills > li.active > a:focus {
    background: #fff;
    border-radius: 25px;
}

.tab-wrap .nav-tabs li a {
    border: none;
    border-bottom: 5px solid transparent;
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 25px;
}

.tab-wrap .nav-tabs > li.active > a,
.tab-wrap .nav-tabs > li > a:hover,
.tab-wrap .nav-tabs > li.active > a:hover,
.tab-wrap .nav-tabs > li.active > a:focus {
    background: transparent;
    border: none;
    border-bottom: 5px solid #0085e1;
}

.tab-wrap .tab-content {
    min-height: 385px;
}

.tab-wrap .tab-content > .tab-pane {
    padding: 20px;
    margin-left: 0;
}

.tab-wrap .tab-content > .tab-pane.theme-transparent {
    padding-top: 10px;
    padding-left: 0;
}


/* mod-upload styling */

.mod-upload {
    position: relative;
    width: 100%;
}

.mod-upload .img-upload {
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    width: 100%;
    overflow: hidden;
}

.mod-upload .img-upload > img {
    display: block;
    width: 100%;
}

.mod-upload.big .img-upload {
    height: 180px;
    width: 222px;
}

.mod-upload.small .img-upload {
    width: 67px;
    height: 56px;
}


/* mod-form-list styling */

.mod-form-wrap .form-group {
    margin-bottom: 0;
}

.mod-form-wrap .mod-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 0;
}

.mod-form-wrap li {
    margin-bottom: 40px;
}

.mod-form-wrap .form-control,
.mod-form-wrap .input-group .input-group-addon {
    color: #777677;
    line-height: 18px;
    padding: 5px 0 5px 5px;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #cccccc;
}

.mod-form-wrap .form-group textarea {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 5px;
}

.mod-form-wrap .form-group.input-group {
    width: 100%;
}

.mod-form-wrap .form-group.input-group .input-group-addon {
    display: table-cell;
    width: auto;
    text-align: right;
    padding-left: 10px;
}

.mod-form-wrap .input-group-addon.select-weight {
    border-bottom: 0;
}

.mod-form-wrap .input-group-addon.select-weight .select-noborder {
    min-width: 78px;
    padding: 1px 0;
}

.inputSelectBox,
.mod-form-wrap .input-group .input-group-addon.inputSelectBox{
    padding: 2px 0;
}
.inputSelectBox .select2-container{
    text-align: left;
}

.inputSelectBox .select-noborder {
    border-bottom: none;
}

.mod-form-wrap .form-list li:last-child {
    margin-bottom: 0;
}

.mod-form-wrap .select-weight .form-control {
    border-bottom: 0;
}


/* price-list styling */

.price-list {
    overflow: hidden;
}

.price-list .sec-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #000;
}


/* mod-form-detail styling */

.mod-form-detail .form-control {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #7f7f7f;
    height: auto;
}

.mod-form-detail .select2-results .select2-result-label,
.mod-form-detail .select2-choice > .select2-chosen {
    color: #7f7f7f;
    font-weight: 600;
    font-size: 18px;
}
.mod-form-detail .select-noborder
{
    padding: 2px 0;
}


/* upload-listing-cont styling */

.upload-listing-cont {
    overflow: hidden;
}


/*upload-sec styling*/

.upload-sec {
    width: 224px;
    float: left;
    margin-right: 28px;
}

.upload-sec .mod-upload.big {
    margin-bottom: 20px;
}

.upload-sec .thumb-cont .mod-upload {
    float: left;
    margin-right: 10px;
    width: 68px;
}

.upload-sec .thumb-cont .mod-upload:last-child {
    margin: 0;
}


/*describe-cont css*/

.describe-cont ul .text::before {
    background: #868281 none repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 5px;
    left: 0;
    padding-left: 5px;
    position: absolute;
    top: 8px;
    vertical-align: middle;
    width: 0;
}

.describe-cont {
    overflow: hidden;
}

.describe-cont > .text {
    display: inline-block;
    margin-bottom: 15px;
    color: #868281;
    font-size: 14px;
    line-height: 18px;
}

.describe-cont ul .text {
    padding-left: 12px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    color: #868281;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}


/* mod-product-detail-spec styling */

.mod-product-detail-spec {
    display: block;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.mod-product-detail-spec .mod-title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 800;
}

.mod-product-detail-spec .product-img {
    width: 245px;
    height: 245px;
    border: 1px solid #acacac;
    line-height: 245px;
    margin-right: 35px;
    float: left;
    text-align: center;
}

.mod-product-detail-spec .product-img img {
    width: auto;
    vertical-align: middle;
}

.mod-product-detail-spec .product-cont {
    display: block;
    overflow: hidden;
}

.mod-product-detail-spec .mod-title {
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
}

.mod-product-detail-spec .product-cont .big-text span {
    font-weight: 400;
    display: block;
    margin-top: 5px;
    font-size: 18px;
    line-height: 20px;
}

.mod-product-detail-spec .product-specList {
    display: block;
    padding-top: 20px;
    overflow: hidden;
}

.mod-product-detail-spec ul li {
    float: left;
    width: 25%;
    margin-bottom: 30px;
}

.mod-product-detail-spec .data-wrap {
    display: block;
    margin-right: 30px;
    color: #000000;
}


/* profile-edit-wrap styling */

.profile-edit-wrap .profile-img-wrap {
    float: left;
    position: relative;
    margin: 0 60px 20px 0;
}

.profile-edit-wrap .profile-img-wrap .profile-img {
    width: 190px;
    height: 190px;
    line-height: 190px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}

.profile-edit-wrap .profile-img-wrap .profile-img img {
    width: auto;
    vertical-align: middle;
}

.profile-edit-wrap .profile-img-wrap .edit-img {
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #0085e1;
    color: #ffffff;
    border-radius: 50%;
    bottom: 10px;
    right: 5px;
    text-align: center;
}

.profile-edit-wrap .profile-img-wrap .edit-img .icon-camera {
    font-size: 18px;
    margin-top: 2px;
    display: inline-block;
}

.profile-edit-wrap .profile-img-wrap .edit-img img {
    vertical-align: middle;
    width: auto;
}

.profile-edit-wrap .profile-cont {
    overflow: hidden;
}

.profile-edit-wrap .profile-cont ul li {
    float: left;
    width: 33.33%;
    margin-bottom: 20px;
}

.profile-edit-wrap .profile-cont ul li .form-group {
    margin-right: 20px;
    display: block;
}

.profile-edit-wrap .profile-cont .mod-form-wrap .form-control {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #7f7f7f;
    height: auto;
}

.profile-edit-wrap .profile-cont .pwd {
    font-size: 12px;
    line-height: 14px;
    float: right;
    margin: 8px 0 0 0;
}

.profile-edit-wrap .btn-default {
    margin-left: 45px;
}


/* list-group styling */

.list-group {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.list-group .list-group-item {
    padding: 0;
    border: none;
    margin: 20px 0;
}

.list-group .list-group-item:first-child {
    margin-top: 0;
}

.list-group .list-heading {
    border-bottom: 1px solid #efefef;
}

.list-group .list-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.list-group .list-cont {
    padding: 20px 0;
}

.list-group .list-cont .list-title {
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
}

.list-group .list-cont ul li {
    padding: 0 0 20px 0;
}

.list-group .list-cont ul li:first-child {
    margin-top: 0;
}

.list-group .list-group-item:last-child .list-cont {
    padding-bottom: 0;
}

.list-group .data-value {
    line-height: 22px;
    color: #000000;
}


/* msg-list-wrap styling */

.msg-list-wrap .panel {
    border: 1px solid #e0e0e0;
    margin: 0 0 5px 0;
    padding: 5px 5px 5px 55px;
}

.msg-list-wrap .panel-heading {
    background: #ffffff;
    border: none;
    padding: 0;
}

.msg-list-wrap .panel-title {
    display: block;
}

.msg-list-wrap .panel-body {
    background: #ffffff;
    border: none;
    padding: 10px 0;
}

.msg-list-wrap .datTime-info {
    color: #0f1209;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    float: left;
}

.msg-list-wrap .datTime-info span {
    padding: 5px 8px;
    border-right: 1px solid #b2b2b2;
    display: inline-block;
    letter-spacing: 2px;
}

.msg-list-wrap .datTime-info span:last-child {
    border-right: 0;
}

.msg-list-wrap .othr-Info {
    float: right;
    color: #4d4d4d;
    margin-right: 30px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 5px;
}

.msg-list-wrap .msg-cont {
    margin-top: 25px;
    float: left;
    width: 70%;
    clear: both;
    color: #010101;
    font-size: 16px;
    font-weight: 300;
    padding: 0 10px;
}

.msg-list-wrap .msg-cont h6 {
    line-height: 20px;
    color: #010101;
    margin-bottom: 3px;
}

.msg-list-wrap .msg-cont p {
    line-height: 20px;
    margin-bottom: 25px;
    font-size: 16px;
}

.msg-list-wrap .panel-title a,
.msg-list-wrap .panel-title a:focus,
.msg-list-wrap .panel-title a:hover,
.msg-list-wrap .panel-title a:active {
    color: #000000;
    font-weight: 800;
    padding: 18px 0;
    display: block;
    background: #ffffff;
    border: none;
    outline: 0;
}


/* .mod-list-box styling */

.mod-list-box.panel {
    margin: 0 10px 10px 0;
    min-height: 260px;
}

.mod-list-box .panel-body {
    padding-bottom: 5px;
}

.mod-list-box .icon {
    background: #f5af63 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    height: 53px;
    width: 53px;
    margin-bottom: 6px;
}

.mod-list-box .icon::before {
    display: block;
    font-size: 30px;
    line-height: 53px;
    text-align: center;
    display: block;
}

.mod-list-box .title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 25px;
}

.mod-list-box .desc {
    color: #7e7e7e;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 30px;
}

.mod-list-box .icon.redBg {
    background: #f57b63;
}

.mod-list-box .icon.cyanBg {
    background: #21bcaf;
}


/* product listing */

.mod-top-products {
    position: relative;
}

.mod-top-products .custom-selectBox {
    position: absolute;
    top: 15px;
    right: 12px;
    width: 120px;
}

.mod-top-products .custom-selectBox .select2-chosen {
    font-size: 12px;
    line-height: 20px;
    color: #7f7f7f;
    font-weight: 600;
}

.mod-top-products .custom-selectBox .select2-choice .select2-arrow b {
    background: url("../images/common_sprite.svg") no-repeat -1px -533px transparent;
}

.mod-top-products .mod-title {
    margin-bottom: 20px;
}

.mod-top-products ul li {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.mod-top-products ul li:last-child {
    margin-bottom: 0;
}

.mod-top-products .product-img {
    width: 80px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
}

.mod-top-products .product-title {
    margin-bottom: 5px;
}

.mod-top-products .data-name,
.mod-top-products .data-value {
    margin-bottom: 5px;
}

.mod-top-products .data-value.amt {
    display: block;
}


/*mod-product-edit-list styling */

.mod-productEdit-wrap {
    padding: 0;
}

.mod-product-edit-list {
    padding: 12px 10px 12px 20px;
}

.mod-product-edit-list .product-img {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 16px 0 10px;
}

.mod-product-edit-list .mod-cont {
    overflow: hidden;
}

.mod-product-edit-list table tr th,
.mod-product-edit-list table tr td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.mod-product-edit-list table tr th {
    color: #aaaaaa;
    font-size: 14px;
    line-height: 16px;
}

.mod-product-edit-list table tr td,
.mod-product-edit-list .checkbox-wrap input[type="checkbox"]:not(old) + label {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    font-weight: 600;
}

.mod-product-edit-list table tr.active .edit-tab .input-wrap {
    display: block;
}

.mod-product-edit-list table tr.active .setprice-wrap a {
    display: none;
}

.mod-product-edit-list table tr.active .qty-wrap .input-wrap input[type="text"] {
    display: block;
}

.mod-product-edit-list table tr.active .qty-wrap .input-wrap .qty-val {
    display: none;
}

.mod-product-edit-list .setprice-wrap .input-wrap {
    display: none;
}

.mod-product-edit-list .edit-tab {
    position: relative;
    height: 18px;
    width: 70px;
}

.mod-product-edit-list .edit-tab .input-wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.mod-product-edit-list .edit-tab a {
    text-decoration: underline;
    position: absolute;
    bottom: 0;
}

.mod-product-edit-list .edit-tab .input-wrap .inr {
    float: left;
    font-size: 96%;
    width: 10%;
    line-height: 20px;
    color: #777677;
}

.mod-product-edit-list .edit-tab .input-wrap input[type="text"] {
    border: none;
    border-bottom: 1px solid #cccccc;
    width: 80%;
    float: left;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #777677;
}

.mod-product-edit-list .edit-tab .input-wrap .qty-val {
    display: block;
    font-size: 12px;
    line-height: 20px;
}

.mod-product-edit-list .qty-wrap .input-wrap input[type="text"] {
    display: none;
}

.mod-product-edit-list .product-heading {
    height: auto;
    margin-right: 20px;
}

.mod-product-edit-list .product-heading li {
    padding: 0;
}

.mod-product-edit-list .product-data-cont {
    display: table;
    width: 77%;
}

.mod-product-edit-list .product-data-cont table {
    width: 100%;
}

.mod-product-edit-list ul {
    float: left;
    width: 100%;
}

.mod-product-edit-list ul li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    padding: 14px 0;
}

.mod-product-edit-list ul li:first-child {
    padding-top: 0;
}

.mod-product-edit-list ul li:last-child {
    border-bottom: none;
}

.mod-product-edit-list .data-value {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: #000000;
}


/*.mod-product-edit-list .data-value .inr {
    font-size: 100%;
}*/

.mod-product-edit-list .product-title {
    width: 160px;
    margin-right: 5px;
    float: left;
    vertical-align: middle;
    font-size: 14px;
    padding: 8px;
    color: #aaaaaa;
    font-weight: 400;
    line-height: 16px;
}

.mod-product-edit-list .img-cont {
    width: 160px;
    margin-right: 5px;
    float: left;
    overflow: hidden;
}

.mod-product-edit-list .product-name {
    font-size: 14px;
    line-height: 16px;
    float: left;
    margin: 10px 10px 0 0;
    width: 125px;
    font-weight: 600;
    color: #636363;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*------------------------------- Layout Style : Start -------------------------------*/


/* mod-collapsable-section */

.collapsible-list .panel {
    border-bottom: 1px solid #efefef;
    margin: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.collapsible-list.panel-group {
    margin-bottom: 0;
}

.collapsible-list .panel-body {
    padding: 0;
}

.collapsible-list .panel:last-child {
    border-bottom: none;
}

.collapsible-list .panel-title {
    display: block;
}

.collapsible-list .panel-title a {
    padding: 16px 10px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000000;
    display: block;
    overflow: hidden;
}

.collapsible-list .panel-title a:after {
    content: "";
    display: inline-block;
    background: url("../images/common_sprite.svg") no-repeat -1px -405px transparent;
    width: 12px;
    height: 12px;
    float: right;
    margin-top: 10px;
}

.collapsible-list .panel-title a.collapsed:after {
    background: url("../images/common_sprite.svg") no-repeat 0px -297px transparent;
}

.collapsible-list .panel-title .icon {
    float: left;
    margin-right: 15px;
    color: #a3a3a3;
    font-size: 25px;
}

.collapsible-list .panel:last-child .block-product-listing {
    padding-bottom: 0;
}


/* Block Product Detail Listing */

.block-product-listing {
    display: block;
    background: #ffffff;
    padding: 10px 0 30px;
    overflow: hidden;
    margin-right: 35px;
}

.block-product-listing ul {
    margin-bottom: 10px;
}

.block-product-listing ul li {
    display: inline-block;
    margin: 0 20px 15px 0;
}

.block-product-listing ul li:first-child {
    display: block;
}

.block-product-listing .product-img {
    margin-bottom: 10px;
}

.block-product-listing .product-title {
    margin-bottom: 15px;
}

.block-product-listing .product-info-cont {
    width: 100%;
}

.block-product-listing .product-info {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 25px;
}

.block-product-listing .product-info.line-break {
    display: block;
}

.block-product-listing .product-info .data-name {
    display: block;
    margin-bottom: 5px;
}

.block-product-listing .action-wrapper {
    display: block;
    margin: 0 auto;
}

.block-product-listing .btn,
.block-product-listing .btn:focus,
.block-product-listing .btn:active,
.block-product-listing .btn:hover {
    padding: 14px 22px;
    font-size: 14px;
    line-height: 16px;
    margin: 0 4px;
}


/*------------------------------- Layout Style : End -------------------------------*/


/*--------------------------------- Page styling : Start -----------------------------*/


/* Dashboard styling */

.dashboard .head-title {
    margin: 0 8px 15px;
}

.dashboard .headerWrapper {
    padding-left: 15px;
}

.dashboard .contentWrapper {
    padding-left: 7px;
    padding-right: 7px;
}

.dashboard .panel {
    margin: 8px;
}


/* Add product styling */

.addProductWrap .pricing-cont .mod-form-wrap {
    margin-bottom: 60px;
}

.pricing-cont .data-name {
    margin: 0 20px 10px 0;
}


/*.addProductWrap .pricing-cont*/

.addProductWrap .pricing-cont .price-list {
    margin-bottom: 30px;
}


/* addFromCatalougueSave styling */

.addFromCatalougueSave .mod-product-edit-list .customScroll {
    height: 345px;
}

.addFromCatalougueSave .mod-product-edit-list .product-heading .product-data-cont {
    padding-right: 18px;
}


/* addProductWrap styling */

.addProductWrap .text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.addProductWrap .describe-cont > .text {
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 15px;
}

.addProductWrap .tab-content .mod-select-listing ul {
    height: 150px;
}

.addProductWrap .bulk-upload-wrap .text {
    color: #a3a3a3;
    font-weight: 500;
}

.addProductWrap .bulk-upload-wrap .upload-wrap .btn-default, 
.addProductWrap .bulk-upload-wrap .upload-wrap .btn-default:active, 
.addProductWrap .bulk-upload-wrap .upload-wrap .btn-default:focus, 
.addProductWrap .bulk-upload-wrap .upload-wrap .btn-default:active:hover{
    color: #ffffff;
}


/* Bulk Upload Page styling */

.bulk-upload-wrap .panel-heading {
    padding: 5px 15px 25px 15px;
}


/* catalogueInventory page styling */

.catalogueInventory .blackBodr-btn {
    margin-bottom: 20px;
}

.catalogueInventory a {
    color: #4d4d4d;
}

.catalogueInventory .table .icon-eye,
.catalogueInventory .table .icon-download {
    font-size: 24px;
    cursor: pointer;
}
.catalogueInventory .select-noborder{
    padding: 5px 0;
}


/* catalogue styling */

.catalogue .tab-content .panel {
    padding: 0;
}

.catalogue .tab-content .panel .panel-heading {
    padding: 0;
    overflow: hidden;
}

.catalogue .tab-content .btn {
    margin-right: 10px;
}

.catalogue .mod-product-spec-list .mod-product-detail ul li {
    margin: 0 25px 10px 0;
}

.catalogue .mod-product-spec-list .mod-product-detail ul li:last-child {
    margin-right: 0;
}

.catalogue .price-list {
    margin-top: 40px;
}


/* My account page styling */

.myAccount .data-wrap {
    display: block;
}

.myAccount .data-name {
    font-weight: 400;
}

.myAccount .action-wrapper {
    margin-top: 20px;
}


/*--------------------------------- Page styling : End -----------------------------*/


/* thankoyu popup */

.thankyou-popup .img-cont {
    margin-top: 70px;
}

.thankyou-popup .modal-body {
    min-height: 350px;
}


/* matchPrice-popup */

.matchPrice-popup .modal-dialog {
    width: 570px;
}

.matchPrice-popup .modal-header,
.matchPrice-popup .modal-body,
.matchPrice-popup .modal-footer {
    padding-left: 44px;
    padding-right: 44px;
}

.matchPrice-popup .data-cont {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 16px;
}

.matchPrice-popup .blackBodr-btn, 
.matchPrice-popup .blackBodr-btn:hover, 
.matchPrice-popup .blackBodr-btn:active, 
.matchPrice-popup .blackBodr-btn:focus, 
.matchPrice-popup .blackBodr-btn:active:hover {
    padding: 15px 30px;
}


/*--------------------------------- Plugin styling : start -----------------------------*/


/* tooltip styling */

.tooltip-priceWrap dl {
    float: left;
    width: 100%;
    padding: 10px 0;
}

.tooltip-priceWrap dl dt {
    float: left;
    width: 50%;
    margin-right: 15px;
    color: #a3a3a3;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 0;
}

.tooltip-priceWrap dl dd {
    float: left;
    padding: 10px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.tooltip-priceWrap dl dd .inr {
    font-size: 96%;
}

.tooltip-priceWrap dl dt:last-child,
.tooltip-priceWrap dl dd:last-child {
    padding-bottom: 0;
}

.mod-product-edit-list .tooltip-wrap {
    display: inline-block;
    position: relative;
}

.mod-product-edit-list .tooltip-wrap .icon {
    position: relative;
    top: 1px;
    left: 3px;
}


/* Range Slider Styling */

.rangeSlider-wrap {
    margin-top: 20px;
}

.rangeSlider-wrap .mod-title {
    color: #343434;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    font-weight: 400;
}

.rangeSlider {
    display: block;
    margin: 60px 0 10px;
    height: 12px;
    border: none;
}

.rangeSlider .noUi-base {
    background: #0085e1;
}

.rangeSlider .noUi-origin {
    background: #e5e5e5;
}

.rangeSlider .noUi-handle {
    border: 2px solid #0085e1;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000000;
    box-shadow: none;
    left: -8px;
    top: -20px;
    z-index: 2;
    cursor: pointer;
}

.rangeSlider .noUi-handle:after,
.rangeSlider .noUi-handle:before {
    background: transparent;
}

.rangeSlider .noUi-handle:before {
    left: 5px;
    width: 2px;
    background: #0085e1;
    top: 14px;
    height: 16px;
}

.rangeSlider .noUi-handle .noUi-tooltip {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    position: absolute;
    margin-left: -40px;
    width: 100px;
    color: #000000;
    border: none;
    background: transparent;
    top: -25px;
}


/* Tooltipster Style : Start */

.theme1 {
    padding: 5px 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 1);
    min-width: 150px;
    border: 1px solid #ffffff;
    margin: 0 auto;
}


/* datetimepicker Style */

.datetimepicker .table-condensed > thead > tr > th,
.datetimepicker .table-condensed > tbody > tr > th,
.datetimepicker .table-condensed > tfoot > tr > th,
.datetimepicker .table-condensed > thead > tr > td,
.datetimepicker .table-condensed > tbody > tr > td,
.datetimepicker .table-condensed > tfoot > tr > td {
    padding: 5px 10px;
}

.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active.active:hover,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled.active:hover {
    background-color: #0085e1;
    background-image: none;
}

.datetimepicker table tr td.day:hover,
.datetimepicker table tr td.today.active.active,
.datetimepicker table tr td.today.active.active:hover,
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today:hover:hover {
    background: #0085e1;
    color: #fff;
}

.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot tr:first-child th:hover,
.datetimepicker table tr td.today,
.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today.disabled:active {
    background: transparent;
}

.datetimepicker table tr td.today:hover {
    color: #333;
}

.datetimepicker thead tr:first-child th {
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    padding-top: 0;
}

.datetimepicker .table-condensed > thead > tr > th {
    margin-bottom: 6px;
}

.datetimepicker .glyphicon-arrow-left {
    background: url("../images/common_sprite.svg") no-repeat 0 -672px transparent;
    width: 10px;
    height: 12px;
    display: inline-block;
}

.datetimepicker .glyphicon-arrow-right {
    background: url("../images/common_sprite.svg") no-repeat 0 -605px transparent;
    width: 10px;
    height: 12px;
    display: inline-block;
}


/* select2 styling */

.custom-selectBox .select2-choice,
.custom-selectBox.select2-dropdown-open .select2-choice,
.custom-selectBox.select2-dropdown-open .select2-choices {
    border: 0;
    background: transparent;
    border-radius: 0;
}

.custom-selectBox .select2-choice .select2-arrow {
    background: transparent none repeat scroll 0 0;
    border-left: 0 none;
    border-radius: 0;
}

.custom-selectBox .select2-choice .select2-arrow b {
    background-image: none;
    background: url("../images/common_sprite.svg") no-repeat 2px -460px transparent;
    filter: none;
}
.custom-selectBox.select2-container-active .select2-choice,
.custom-selectBox.select2-container-active .select2-choices {
    box-shadow: none;
}

/* selectbox dropdown styling */
.custom-selectBox-dd.select2-drop.select2-drop-active {
    border-color: #cccccc;
}
.custom-selectBox-dd .select2-results .select2-result-label {
    padding: 10px;
    font-size: 14px;
}


/* Select with border styling */

.select-with-border {
    margin-right: 10px;
    width: 165px;
}

.select-with-border .select2-choice {
    padding: 9px 10px 10px;
    border: 1px solid #a9a9a9;
    height: auto;
    background: none;
    border-radius: 0;
    color: #a4a5a5;
}

.select-with-border:last-child {
    margin-right: 0;
}

.select-with-border .select2-choice .select2-arrow {
    background: none;
    border-left: none;
    width: 25px;
    border-radius: 0;
}

.select-with-border .select2-choice .select2-arrow b {
    background-image: none;
    background: url("../images/common_sprite.svg") no-repeat 2px -521px transparent;
    filter: none;
}

.select-with-border .select2-choice > .select2-chosen {
    font-weight: 400;
    font-size: 14px;
}

.select-with-border.select2-container-active .select2-choice,
.select-with-border.select2-container-active .select2-choices {
    box-shadow: none;
    background: transparent;
    border-color: #a9a9a9;
    border-radius: 0;
}


/* status-selectBox styling */

.status-selectBox {
    width: 110px;
}

.status-selectBox .select2-choice,
.status-selectBox.select2-dropdown-open .select2-choice,
.status-selectBox.select2-dropdown-open .select2-choices {
    border: 0;
    background: transparent;
    border-radius: 0;
}

.status-selectBox .select2-choice .select2-arrow {
    background: transparent none repeat scroll 0 0;
    border-left: 0 none;
    border-radius: 0;
}

.status-selectBox .select2-choice .select2-arrow b {
    background-image: none;
    background: url("../images/common_sprite.svg") no-repeat 2px -460px transparent;
    filter: none;
}

.status-selectBox.select2-container-active .select2-choice,
.status-selectBox.select2-container-active .select2-choices {
    box-shadow: none;
}

.status-selectBox .select2-drop .green-text,
.status-selectBox .select2-drop .red-text {
    background: transparent;
}

.status-selectBox .select2-drop .green-text:hover,
.status-selectBox .select2-drop .red-text:hover {
    background: #d7d7d7;
}

.status-selectBox .select2-drop .green-text .select2-result-label,
.status-selectBox .select2-drop .red-text .select2-result-label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.status-selectBox .select2-drop .green-text .select2-result-label {
    color: #17ae4c;
}

.status-selectBox .select2-drop .red-text .select2-result-label {
    color: #cc4444;
}

.status-selectBox.select2-container.green-text .select2-choice .select2-chosen {
    color: #17ae4c;
}

.status-selectBox.select2-container.red-text .select2-choice .select2-chosen {
    color: #cc4444;
}


/* select-noborder styling */

.select-noborder {
    color: #777677;
    line-height: 18px;
    padding: 5px 0;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #cccccc;
    display: block;
    font-size: 14px;
}

.select-noborder .select2-choice,
.select-noborder.select2-dropdown-open .select2-choice,
.select-noborder.select2-dropdown-open .select2-choices {
    border: 0;
    background: transparent;
    border-radius: 0;
}

.select-noborder .select2-choice .select2-arrow {
    background: transparent none repeat scroll 0 0;
    border-left: 0 none;
    border-radius: 0;
}

.select-noborder .select2-choice .select2-arrow b {
    background-image: none;
    background: url("../images/common_sprite.svg") no-repeat 2px -460px transparent;
    filter: none;
}

.select-noborder.select2-container-active .select2-choice,
.select-noborder.select2-container-active .select2-choices {
    box-shadow: none;
}


/* Popup styling */

.modal .modal-dialog {
    background: #f2efef;
    border-radius: 0;
}

.modal-header {
    padding-top: 55px;
}

.modal .modal-content {
    background: transparent;
    border: none;
    box-shadow: none;
}

.modal .modal-header,
.modal .modal-footer {
    border: none;
}

.modal .modal-footer {
    padding-bottom: 40px;
    text-align: left;
}

.modal .modal-title {
    font-size: 20px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.modal .data-cont {
    font-size: 20px;
    font-weight: 300;
    text-transform: none;
    color: #000;
}

.modal .close,
.modal .close:hover {
    opacity: 1;
    position: absolute;
    right: 25px;
    top: 20px;
}

.modal-header .close > span {
    background: transparent url('../images/common_sprite.svg') 0 -186px no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
}