<div class="col-md-24">
    <div class="row">
        <div class="col-md-24">
            <div class="allcomponenets theme-white">
            	<label>Buttons</label>
                <button type="button" class="btn btn-default">Match Price</button>
                <button type="button" class="btn roundBodr-btn">Accept</button>
                <button type="button" class="btn roundBodr-btn red">Reject</button>
                <button type="button" class="btn roundBg-btn">Add</button>
                <button type="button" class="btn blackBodr-btn">Generate</button>
                <button type="button" class="btn blue-btn">Create new listing</button>
                <button type="button" class="btn greyBodr-btn">Top Selling</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-24">
	
</div>
