<div class="headerWrapper">
      <header>
			<span class="menu-button icon-bars"></span>
			<a href="#" class="company-logo">
				<img src="images/logo.svg" alt="logo"/>
			</a>
			<nav>
				<div class="nav-wrapper pull-right">
					<div class="navbar-left dropdown msg-list">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                        <span class="icon icon-bell"></span>
	                        <span class="badge">1</span>
	                    </a>
	                    <div class="dropdown-wrap">
	                        <div class="dropdown-cont">
	                            <div class="dd-header">
	                                <h3 class="dd-title">Notifications</h3>
	                            </div>
	                            <div class="dd-body">
	                                <ul>
	                                    <li>
	                                        <a href="#">
	                                           Fractalink has sent a request to add iPhone 5s to their catalogue
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                           Payment of Rs.30,000 has been credited to SYSKA account
	                                        </a>
	                                    </li>
	                                    <li class="last">
	                                        <a href="#">
	                                           Lorem ipsun color domet is a dummy text used in a typesetting industry since 1500’s
	                                        </a>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="navbar-left dropdown msg-list">
	                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                        <span class="icon icon-envelope"></span>
	                        <span class="badge">1</span>
	                    </a>
	                    <div class="dropdown-wrap">
	                        <div class="dropdown-cont">
	                            <div class="dd-header">
	                                <h3 class="dd-title">Messages</h3>
	                                <a href="messages.shtml" class="viewall">view all</a>
	                            </div>
	                            <div class="dd-body">
	                                <ul>
	                                    <li>
	                                        <a href="#">
	                                           Fractalink has sent a request to add iPhone 5s to their catalogue
	                                        </a>
	                                    </li>
	                                    <li>
	                                        <a href="#">
	                                           Payment of Rs.30,000 has been credited to SYSKA account
	                                        </a>
	                                    </li>
	                                    <li class="last">
	                                        <a href="#">
	                                           Lorem ipsun color domet is a dummy text used in a typesetting industry since 1500’s
	                                        </a>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</nav>
      </header>
</div>