<script type="text/javascript" src="js/plugins/libraries.js"></script>
<script type="text/javascript" src="js/plugins/chartist.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>