<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- <link href="https://file.myfontastic.com/jyruS5E8uuhRim7vVNw3k8/icons.css" rel="stylesheet"> -->
<link type="text/css" rel="stylesheet" href="css/plugins/libraries.css">
<link type="text/css" rel="stylesheet" href="css/plugins/chartist.min.css">
<link type="text/css" rel="stylesheet" href="css/plugins/tooltipster.css">
<link type="text/css" rel="stylesheet" href="css/iconFont.css">
<link type="text/css" rel="stylesheet" href="css/style.css">

