<div class="sidebarSection">
    <aside>
        <div class="user-info-wrap">
            <div class="profile-img">
                <img src="images/profileImg.jpg" alt="profile-img" />
            </div>
            <div class="user-info">
                <span class="title">Welcome !</span>
                <label class="user-name">Amit Rajapurkar</label>
                <div class="user-action-btn">
                    <a href="#">Edit</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar-nav">
            <ul id="sidebarAccordian" class="panel-group">
                <li class="active" >
                    <a href="dashboard.shtml" class="sidebar-nav-item">
                        <span class="sidebar-icon icon-home"></span>
                        <span class="sidebar-text">Dashboard</span>
                    </a>
                </li>
                <li class="panel">
                    <a data-toggle="collapse" class="sidebar-nav-item" data-parent="#sidebarAccordian" data-target="#catlogPanel" href="#catlogPanel">
                        <span class="sidebar-icon icon-layers"></span>
                        <span class="sidebar-text">Catalogue</span>
                        <span class="nav-arrow icon-right-arrow"></span>
                    </a>
                    <div id="catlogPanel" class="collapse panel-collapse subMenu">
                        <ul>
                            <li>
                                <a href="#">Add Product
                                        <span class="nav-arrow icon-right-arrow"></span>
                                       </a>
                            </li>
                            <li>
                                <a href="#">
                                            Inventory Reports
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                            <li>
                                <a href="#">
                                            Promotions
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="panel">
                    <a data-toggle="collapse" class="sidebar-nav-item" data-parent="#sidebarAccordian" data-target="#ordersPanel" href="#ordersPanel">
                        <span class="sidebar-icon icon-basket"></span>
                        <span class="sidebar-text">Orders</span>
                        <span class="nav-arrow icon-right-arrow"></span>
                    </a>
                    <div id="ordersPanel" class="collapse panel-collapse subMenu">
                        <ul>
                            <li>
                                <a href="#">Add Product
                                        <span class="nav-arrow icon-right-arrow"></span>
                                       </a>
                            </li>
                            <li>
                                <a href="#">
                                            Inventory Reports
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                            <li>
                                <a href="#">
                                            Promotions
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="panel">
                    <a data-toggle="collapse" class="sidebar-nav-item" data-parent="#sidebarAccordian" data-target="#disputePanel" href="#disputePanel">
                        <span class="sidebar-icon icon-hammer"></span>
                        <span class="sidebar-text">Disputes</span>
                        <span class="nav-arrow icon-right-arrow"></span>
                    </a>
                    <div id="disputePanel" class="collapse panel-collapse subMenu">
                        <ul>
                            <li>
                                <a href="#">Add Product
                                <span class="nav-arrow icon-right-arrow"></span>
                               </a>
                            </li>
                            <li>
                                <a href="#">
                                            Inventory Reports
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                            <li>
                                <a href="#">
                                            Promotions
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="panel">
                    <a data-toggle="collapse" class="sidebar-nav-item" data-parent="#sidebarAccordian" data-target="#reportPanel" href="#reportPanel">
                        <span class="sidebar-icon icon-business"></span>
                        <span class="sidebar-text">Reports</span>
                        <span class="nav-arrow icon-right-arrow"></span>
                    </a>
                    <div id="reportPanel" class="collapse panel-collapse subMenu">
                        <ul>
                            <li>
                                <a href="#">Add Product
                                        <span class="nav-arrow icon-right-arrow"></span>
                                       </a>
                            </li>
                            <li>
                                <a href="#">
                                            Inventory Reports
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                            <li>
                                <a href="#">
                                            Promotions
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="panel">
                    <a data-toggle="collapse" class="sidebar-nav-item" data-parent="#sidebarAccordian" data-target="#pricingPanel" href="#pricingPanel">
                        <span class="sidebar-icon icon-rupee"></span>
                        <span class="sidebar-text">Pricing</span>
                        <span class="nav-arrow icon-right-arrow"></span>
                    </a>
                    <div id="pricingPanel" class="collapse panel-collapse subMenu">
                        <ul>
                            <li>
                                <a href="#">Add Product
                                        <span class="nav-arrow icon-right-arrow"></span>
                                       </a>
                            </li>
                            <li>
                                <a href="#">
                                            Inventory Reports
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                            <li>
                                <a href="#">
                                            Promotions
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="panel">
                    <a data-toggle="collapse" class="sidebar-nav-item" data-parent="#sidebarAccordian" data-target="#performancPanel" href="#performancPanel">
                        <span class="sidebar-icon icon-badge"></span>
                        <span class="sidebar-text">Performance</span>
                        <span class="nav-arrow icon-right-arrow"></span>
                    </a>
                    <div id="performancPanel" class="collapse panel-collapse subMenu">
                        <ul>
                            <li>
                                <a href="#">Add Product
                                        <span class="nav-arrow icon-right-arrow"></span>
                                       </a>
                            </li>
                            <li>
                                <a href="#">
                                            Inventory Reports
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                            <li>
                                <a href="#">
                                            Promotions
                                            <span class="nav-arrow icon-right-arrow"></span></a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
</div>
