<div class="panel table-summary">
    <div class="panel-heading">
        <h3 class="panel-title">Pending Orders</h3>
        <a href="#" class="view">View All</a>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
         <table class="table">
            <col style="width:15%">
            <col style="width:15%">
            <col style="width:30%">
            <col style="width:15%">
            <col style="width:25%">
             <thead>
                 <tr>
                     <th>Order id</th>
                     <th>SKU</th>
                     <th>Product</th>
                     <th>Quantity</th>
                     <th>Action</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <td><a href="#" class="link">16234HJK</a></td>
                     <td><label>SSK-QA0301-6500K</label></td>
                     <td><p>Eveready 14 W LED 6500K Cool Day Light Combo Bulb</p></td>
                     <td><label>12</label></td>
                     <td>
                         <div class="action-wrapper">
                             <button class="btn roundBodr-btn">Accept</button>
                             <button class="btn roundBodr-btn red">Reject</button>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td><a href="#" class="link">4588TYL</a></td>
                     <td><label>SSK-QA0301-6500K</label></td>
                     <td><p>Samsung S3 White 16 GB</p></td>
                     <td><label>02</label></td>
                     <td>
                         <div class="action-wrapper">
                             <button class="btn roundBodr-btn">Accept</button>
                             <button class="btn roundBodr-btn red">Reject</button>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td><a href="#" class="link">7217WRB</a></td>
                     <td><label>SSK-QA0301-6500K</label></td>
                     <td><p>H.P.D Chopper (Green)</p></td>
                     <td><label>08</label></td>
                     <td>
                         <div class="action-wrapper">
                             <button class="btn roundBodr-btn">Accept</button>
                             <button class="btn roundBodr-btn red">Reject</button>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td><a href="#" class="link">1392KLW</a></td>
                     <td><label>SSK-QA0301-6500K</label></td>
                     <td><p>Dell Inspiron 3542 Notebook (4th Gen Ci3/ 4GB/ 500GB/ U...</p></td>
                     <td><label>18</label></td>
                     <td>
                        <div class="action-wrapper">
                             <button class="btn roundBodr-btn">Accept</button>
                             <button class="btn roundBodr-btn red">Reject</button>
                         </div>
                     </td>
                 </tr>
                 <tr>
                     <td><a href="#" class="link">2893HWEE</a></td>
                     <td><label>SSK-QA0301-6500K</label></td>
                     <td><p>Kingston DTCNY14/16GBIN 16 GB Fancy Pendrive (Multicolor)</p></td>
                     <td><label>20</label></td>
                     <td>
                         <div class="action-wrapper">
                             <button class="btn roundBodr-btn">Accept</button>
                             <button class="btn roundBodr-btn red">Reject</button>
                         </div>
                     </td>
                 </tr>
             </tbody>
         </table>
         </div>
    </div>
</div>