<div class="panel mod-collapsable-section">
    <div class="panel-heading">
        <h3 class="panel-title">Syska Selling Coach</h3>
    </div>
    <div class="panel-body">
        <ul class="panel-group collapsible-list" id="accordion">
            <li class="panel active">
                <h4 class="panel-title accordion-head">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <span class="icon icon-notebook"></span> Inventory
                  </a>
              </h4>
                <div id="collapseOne" class="accordion-cont panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                            <li class="col-md-8">
                                <div class="mod-product-detail block-product-listing">
                                    <a href="#" class="product-img">
                                        <img src="images/product.jpg" alt="prduct img" />
                                    </a>
                                    <div class="product-info-cont">
                                        <a href="#" class="product-title">Lenovo VIBE P1m</a>
                                        <ul>
                                            <li class="data-wrap">
                                                <span class="data-name">SKU</span>
                                                <span class="data-value small-text">SSK-QA0301-6500K</span>
                                            </li>
                                            <li class="data-wrap">
                                                <span class="data-name">Selling Price</span>
                                                <span class="data-value amt"><span class="inr">inr</span> 54,366</span>
                                            </li>
                                            <li class="data-wrap">
                                                 <span class="data-name">In Stock</span>
                                                <span class="data-value red-text">12</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="action-wrapper">
                                        <button type="button" class="btn btn-default">Update Inventory</button>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-8">
                                <div class="mod-product-detail block-product-listing">
                                    <a href="#" class="product-img">
                                        <img src="images/product1.jpg" alt="prduct img" />
                                    </a>
                                    <div class="product-info-cont">
                                        <a href="#" class="product-title">Philips 27 W CFL Pack of 3</a>
                                        <ul>
                                            <li class="data-wrap">
                                                <span class="data-name">SKU</span>
                                                <span class="data-value small-text">SSK-QA0301-6500K</span>
                                            </li>
                                            <li class="data-wrap">
                                                <span class="data-name">Selling Price</span>
                                                <span class="data-value amt"><span class="inr">inr</span> 54,366</span>
                                            </li>
                                            <li class="data-wrap">
                                                 <span class="data-name">In Stock</span>
                                                <span class="data-value red-text">14</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="action-wrapper">
                                        <button type="button" class="btn btn-default">Update Inventory</button>
                                    </div>
                                </div>
                            </li>
                             <li class="col-md-8">
                                <div class="mod-product-detail block-product-listing">
                                    <a href="#" class="product-img">
                                        <img src="images/product1.jpg" alt="prduct img" />
                                    </a>
                                    <div class="product-info-cont">
                                        <a href="#" class="product-title">Moto 360 Watch</a>
                                        <ul>
                                            <li class="data-wrap">
                                                <span class="data-name">SKU</span>
                                                <span class="data-value small-text">SSK-QA0301-6500K</span>
                                            </li>
                                            <li class="data-wrap">
                                                <span class="data-name">Selling Price</span>
                                                <span class="data-value amt"><span class="inr">inr</span> 54,366</span>
                                            </li>
                                            <li class="data-wrap">
                                                 <span class="data-name">In Stock</span>
                                                <span class="data-value red-text">08</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="action-wrapper">
                                        <button type="button" class="btn btn-default">Update Inventory</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel">
                <h4 class="panel-title accordion-head">
                              <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true">
                                <span class="icon icon-growth"></span> Growth
                              </a>
                            </h4>
                            <div id="collapseTwo" class="accordion-cont panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li class="col-md-8">
                                            <div class="mod-product-detail block-product-listing">
                                                <a href="#" class="product-img">
                                                    <img src="images/product.jpg" alt="prduct img" />
                                                </a>
                                                <div class="product-info-cont">
                                                    <a href="#" class="product-title">Lenovo VIBE P1m</a>
                                                    <ul>
                                                        <li class="data-wrap">
                                                            <span class="data-name">SKU</span>
                                                            <span class="data-value small-text">SSK-QA0301-6500K</span>
                                                        </li>
                                                        <li class="data-wrap">
                                                            <span class="data-name">Avg. Rating</span>
                                                            <span class="data-value">4.2</span>
                                                        </li>
                                                        <li class="data-wrap">
                                                             <span class="data-name">Lowest Price</span>
                                                            <span class="data-value amt"><span class="inr">inr</span>48,199</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="action-wrapper">
                                                    <button type="button" class="btn blackBodr-btn">Skip</button>
                                                    <button type="button" class="btn btn-default">List</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-md-8">
                                            <div class="mod-product-detail block-product-listing">
                                                <a href="#" class="product-img">
                                                    <img src="images/product1.jpg" alt="prduct img" />
                                                </a>
                                                <div class="product-info-cont">
                                                    <a href="#" class="product-title">Philips 27 W CFL Pack of 3</a>
                                                    <ul>
                                                        <li class="data-wrap">
                                                            <span class="data-name">SKU</span>
                                                            <span class="data-value small-text">SSK-QA0301-6500K</span>
                                                        </li>
                                                        <li class="data-wrap">
                                                            <span class="data-name">Avg. Rating</span>
                                                            <span class="data-value">4.2</span>
                                                        </li>
                                                        <li class="data-wrap">
                                                             <span class="data-name">Lowest Price</span>
                                                            <span class="data-value amt"><span class="inr">inr</span>48,199</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="action-wrapper">
                                                    <button type="button" class="btn blackBodr-btn">Skip</button>
                                                    <button type="button" class="btn btn-default">List</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-md-8">
                                            <div class="mod-product-detail block-product-listing">
                                                <a href="#" class="product-img">
                                                    <img src="images/product2.jpg" alt="prduct img" />
                                                </a>
                                                <div class="product-info-cont">
                                                    <a href="#" class="product-title">Moto 360 Watch</a>
                                                    <ul>
                                                        <li class="data-wrap">
                                                            <span class="data-name">SKU</span>
                                                            <span class="data-value small-text">SSK-QA0301-6500K</span>
                                                        </li>
                                                        <li class="data-wrap">
                                                            <span class="data-name">Avg. Rating</span>
                                                            <span class="data-value">4.2</span>
                                                        </li>
                                                        <li class="data-wrap">
                                                             <span class="data-name">Lowest Price</span>
                                                            <span class="data-value amt"><span class="inr">inr</span>48,199</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="action-wrapper">
                                                    <button type="button" class="btn blackBodr-btn">Skip</button>
                                                    <button type="button" class="btn btn-default">List</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
            </li>
            <li class="panel">
                <h4 class="panel-title accordion-head">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                  <span class="icon icon-coins"></span> Pricing
                              </a>
                            </h4>
                <div id="collapseThree" class="accordion-cont panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li class="col-md-8">
                                <div class="mod-product-detail block-product-listing">
                                    <a href="#" class="product-img">
                                        <img src="images/product.jpg" alt="prduct img" />
                                    </a>
                                    <div class="product-info-cont">
                                        <a href="#" class="product-title">Lenovo VIBE P1m</a>
                                        <ul>
                                            <li class="data-wrap">
                                                <span class="data-name">SKU</span>
                                                <span class="data-value small-text">SSK-QA0301-6500K</span>
                                            </li>
                                            <li class="data-wrap">
                                                <span class="data-name">Selling Price</span>
                                                <span class="data-value amt"><span class="inr">inr</span> 54,366</span>
                                            </li>
                                            <li class="data-wrap">
                                                 <span class="data-name">Lowest Price</span>
                                                <span class="data-value amt"><span class="inr">inr</span>48,199</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="action-wrapper">
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#matchPrice">Match Price</button>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-8">
                                <div class="mod-product-detail block-product-listing">
                                    <a href="#" class="product-img">
                                        <img src="images/product1.jpg" alt="prduct img" />
                                    </a>
                                    <div class="product-info-cont">
                                        <a href="#" class="product-title">Lenovo VIBE P1m</a>
                                        <ul>
                                            <li class="data-wrap">
                                                <span class="data-name">SKU</span>
                                                <span class="data-value small-text">SSK-QA0301-6500K</span>
                                            </li>
                                            <li class="data-wrap">
                                                <span class="data-name">Selling Price</span>
                                                <span class="data-value amt"><span class="inr">inr</span> 54,366</span>
                                            </li>
                                            <li class="data-wrap">
                                                 <span class="data-name">Lowest Price</span>
                                                <span class="data-value amt"><span class="inr">inr</span>48,199</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="action-wrapper">
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#matchPrice">Match Price</button>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-8">
                                <div class="mod-product-detail block-product-listing">
                                    <a href="#" class="product-img">
                                        <img src="images/product2.jpg" alt="prduct img" />
                                    </a>
                                    <div class="product-info-cont">
                                        <a href="#" class="product-title">Lenovo VIBE P1m</a>
                                        <ul>
                                            <li class="data-wrap">
                                                <span class="data-name">SKU</span>
                                                <span class="data-value small-text">SSK-QA0301-6500K</span>
                                            </li>
                                            <li class="data-wrap">
                                                <span class="data-name">Selling Price</span>
                                                <span class="data-value amt"><span class="inr">inr</span> 54,366</span>
                                            </li>
                                            <li class="data-wrap">
                                                 <span class="data-name">Lowest Price</span>
                                                <span class="data-value amt"><span class="inr">inr</span>48,199</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="action-wrapper">
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#matchPrice">Match Price</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
