<div class="panel mod-desc-listing mod-descInfo-listing">
    <div class="panel-heading">
        <h3 class="panel-title">Message Center</h3>
        <a href="#" class="view">view all</a>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                <p> No Easy Ship Pickups in Hyderabad on 2nd February.Due to local GHMC Elections, Easy Ship pickups will not be performed in Hyderabad on 2nd February, 2016.</p><span class="date-info">Feb 05,11:48 am</span>
            </li>
            <li>
                <p>On January 21, 2016, Amazon changed the way we calculate Order Defect Rate. Resolved claims that are denied no longer count as defects and we removed them from Order Defect Rate.</p><span class="date-info">Feb 05,11:48 am</span>
            </li>
            <li>
                <p>
                    Lorem isum color domet is a dummy text widely used in the industry, set in 1500's to use in latin panguage.</p><span class="date-info">Feb 05,11:48 am</span>
            </li>
        </ul>
    </div>
</div>