<div class="row">
   <div class=" col-lg-4 col-md-8">
       <div class="mod-status">
            <div class="icon-wrap">
                <span class="icon icon-clock"></span>
           </div>
           <a href="#" class="status-text">
               Pending
               <span>Orders</span>
           </a>
           <span class="status-count-wrap">
                <span class="status-count">04</span>   
           </span>
       </div>
   </div>
   <div class=" col-lg-4 col-md-8">
       <div class="mod-status">
            <div class="icon-wrap">
                <span class="icon icon-warning"></span>
           </div>
           <a href="#" class="status-text">
               Unshipped
               <span>Orders</span>
           </a>
           <span class="status-count-wrap">
                <span class="status-count">04</span>   
           </span>
       </div>
   </div>
   <div class=" col-lg-4 col-md-8">
       <div class="mod-status">
            <div class="icon-wrap">
                <span class="icon icon-box"></span>
           </div>
           <a href="#" class="status-text">
               Ready to
               <span>Ship</span>
           </a>
           <span class="status-count-wrap">
                <span class="status-count">04</span>   
           </span>
       </div>
   </div>
   <div class=" col-lg-4 col-md-8">
       <div class="mod-status">
            <div class="icon-wrap">
                <span class="icon icon-trollery"></span>
           </div>
           <a href="#" class="status-text">
               shipped
               <span>items</span>
           </a>
           <span class="status-count-wrap">
                <span class="status-count">04</span>   
           </span>
       </div>
   </div>
   <div class=" col-lg-4 col-md-8">
       <div class="mod-status">
            <div class="icon-wrap">
                <span class="icon icon-notebook"></span>
           </div>
           <a href="#" class="status-text">
               Return
               <span>request</span>
           </a>
           <span class="status-count-wrap">
                <span class="status-count">04</span>   
           </span>
       </div>
   </div>
   <div class=" col-lg-4 col-md-8">
       <div class="mod-status">
            <div class="icon-wrap">
                <span class="icon icon-ban"></span>
           </div>
           <a href="#" class="status-text">
               Cancelled
               <span>Orders</span>
           </a>
           <span class="status-count-wrap">
                <span class="status-count">04</span>   
           </span>
       </div>
   </div>
</div>