<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">
         Account Rating
       </h3>
    </div>
    <div class="panel-body ">
        <div class="mod-rating">
            <div class="status-cont">
                <span class="count">4.4</span> out of <span> 5</span>
            </div>
            <label class="text">Based on <span>245</span> ratings</label>
            <div class="graph-cont">
                <div class="ct-chart ct-chart-bar rate-chart"></div>
            </div>
            <a href="#" class="text">Check Ratings Parameter</a>
        </div>
    </div>
</div>
