<div class="panel ">
  <div class="panel-heading">
    <h3 class="panel-title">Activity Log</h3>
  </div>
  <div class="panel-body">
      <div class="mod-activity-listing">
        <ul>
           <li>
                <span class="line"></span>
                <div class="activity-listing">
                    <span class="icon-wrap">
                      <span class="icon icon-download"></span>
                    </span>
                    <div class="info-wrap">
                        <a href="#" class="title">Sales Report Downloaded </a>
                        <p class="desc">Sales Report for January 2016 was downloaded</p>
                        <span class="date-time">10:30 am</span>
                   </div>
               </div>
           </li>
           <li>
                <span class="line"></span>
                <div class="activity-listing">
                    <span class="icon-wrap">
                      <span class="icon icon-notebook"></span>
                    </span>
                    <div class="info-wrap">
                        <a href="#" class="title">Inventory Reloaded</a>
                        <p class="desc">Inventory for iPhone 6s was reloaded</p>
                        <span class="date-time">10:30 am</span>
                   </div>
               </div>
           </li>
           <li>
                <span class="line"></span>
                <div class="activity-listing">
                    <span class="icon-wrap">
                      <span class="icon icon-hammer"></span>
                    </span>
                    <div class="info-wrap">
                        <a href="#" class="title">Disputes Resolved</a>
                        <p class="desc">A Disputes with order ID 2344 was resolved</p>
                        <span class="date-time">Feb 05,11:48 am</span>
                   </div>
               </div>
           </li>
           <li>
                <span class="line"></span>
                <div class="activity-listing">
                    <span class="icon-wrap">
                      <span class="icon icon-mic"></span>
                    </span>
                    <div class="info-wrap">
                        <a href="#" class="title">Lorem ipsum</a>
                        <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        <span class="date-time">Feb 05,11:48 am</span>
                   </div>
               </div>
           </li>
           <li>
                <div class="activity-listing">
                    <span class="icon-wrap">
                      <span class="icon icon-briefcase"></span>
                    </span>
                    <div class="info-wrap">
                        <a href="#" class="title">Lorem ipsum</a>
                        <p class="desc">Lorem Ipsum is simply dummy</p>
                        <span class="date-time">Feb 05,11:48 am</span>
                   </div>
               </div>
           </li>
       </ul>
       </div>
  </div>
</div>