
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Disputes</h3>
    <a href="#" class="view">view all</a>
  </div>
  <div class="panel-body ">
    <div class="mod-desc-listing">
     <ul>
         <li>
          <a href="#" class="text"> Syska admin has raised a dispute against the invoice.</a></li>
          <li>
          <a href="#" class="text"> Customer has raised a dispute against the product shipped.</a></li>
          <li>
          <a href="#" class="text"> 
             Lorem Ipsum color domet set in 1500s</a>
         </li>
     </ul>
     </div>
  </div>
</div>