<div class="panel mod-top-products">
    <div class="panel-heading">
        <h3 class="panel-title">Marketplace Trends</h3>
        <select class="custom-selectBox">
            <option>Categories 1</option>
            <option>Categories 2</option>
            <option>Categories 3</option>
            <option>Categories 4</option>
        </select>
    </div>
    <div class="panel-body">
        <ul>
            <li>
                <div class="mod-product-detail">
                    <a href="#" class="product-img">
                        <img src="images/productsmall.jpg" alt="prduct img" />
                    </a>
                    <div class="product-info-cont">
                        <a href="#" class="product-title">Lenovo 2-1 laptops</a>
                        <span class="product-info">
                        <del><span class="inr">inr</span> 425</del>
                        <span class="off-price">13% off</span>
                        <span class="data-value amt"><span class="inr">inr</span>54,366</span>
                        </span>
                    </div>
                </div>
            </li>
             <li>
                <div class="mod-product-detail">
                    <a href="#" class="product-img">
                        <img src="images/productsmall1.jpg" alt="prduct img" />
                    </a>
                    <div class="product-info-cont">
                        <a href="#" class="product-title">VANS Round Sunglasses</a>
                        <span class="product-info">
                        <del><span class="inr">inr</span> 425</del>
                        <span class="off-price">13% off</span>
                        <span class="data-value amt"><span class="inr">inr</span>899</span>
                        </span>
                    </div>
                </div>
            </li>
             <li>
                <div class="mod-product-detail">
                    <a href="#" class="product-img">
                        <img src="images/productsmall2.jpg" alt="prduct img" />
                    </a>
                    <div class="product-info-cont">
                        <a href="#" class="product-title">Cusion Covers</a>
                        <span class="product-info">
                        <del><span class="inr">inr</span> 425</del>
                        <span class="off-price">13% off</span>
                        <span class="data-value amt"><span class="inr">inr</span>1,299</span>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
