<div class="panel mod-payment-summary">
  <div class="panel-heading">
    <h3 class="panel-title">Payment Summary</h3>
  </div>
  <div class="panel-body">
    <ul>
       <li>
            <div class="summary-cont">
               <span class="icon icon-timemoney"></span>
               <div class="cont-wrap">
                    <div class="amount-wrap">
                        <span class="amt"><span class="inr">inr</span>2580</span>
                        <span class="title">Recent Payments</span>
                    </div>
                    <p class="desc">Disbursed to your bank account ending in 4538 on 30 Jan 2016.</p> 
               </div>
           </div>
       </li>
       <li>
            <div class="summary-cont">
               <span class="icon icon-payments redBg"></span>
               <div class="cont-wrap">
                    <div class="amount-wrap">
                        <span class="amt"><span class="inr">inr</span>366</span>
                        <span class="title">Balance Payments</span>
                    </div>
                    <p class="desc">Funds may take 3 to 5 working days to appear in your bank account.</p> 
               </div>
           </div>
       </li>
   </ul>
  </div>
</div>