<div class="row">
    <div class="col-md-24">
        <div class="panel-group msg-list-wrap" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading " role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Payment Pending
                        </a>
                      </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="msg-wrap">
                            <div class="datTime-info">
                                <span>12/09</span>
                                <span>21:55:02</span>
                            </div>
                            <div class="othr-Info">
                                Order Id: <span>404-1733340-0061145 </span>
                            </div>
                            <div class="msg-cont">
                                <h6>Hello,</h6>
                                <p>This is to inform you that payment for order is pending from your order,with tracking ID 215125070603.</p>
                                <p>Lorem ipsum color domet is a dummy text is a standard set in late 1500’s ipsum color dolant a standard set in late 1500’s ipsum color dolant </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading " role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Your Returns Request has been Closed 404-0739957-5906733
                        </a>
                      </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="msg-wrap">
                            <div class="datTime-info">
                                <span>12/09</span>
                                <span>21:55:02</span>
                            </div>
                            <div class="othr-Info">
                                Order Id: <span>404-1733340-0061145 </span>
                            </div>
                            <div class="msg-cont">
                                <h6>Hello,</h6>
                                <p>This is to inform you that payment for order is pending from your order,with tracking ID 215125070603.</p>
                                <p>Lorem ipsum color domet is a dummy text is a standard set in late 1500’s ipsum color dolant a standard set in late 1500’s ipsum color dolant </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading " role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Your order #404-1733340-0061145 is out for delivery
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="msg-wrap">
                            <div class="datTime-info">
                                <span>12/09</span>
                                <span>21:55:02</span>
                            </div>
                            <div class="othr-Info">
                                Order Id: <span>404-1733340-0061145 </span>
                            </div>
                            <div class="msg-cont">
                                <h6>Hello,</h6>
                                <p>This is to inform you that payment for order is pending from your order,with tracking ID 215125070603.</p>
                                <p>Lorem ipsum color domet is a dummy text is a standard set in late 1500’s ipsum color dolant a standard set in late 1500’s ipsum color dolant </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading " role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Your order of Killer Balack Dial Men's... and 2 more item(s).
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <div class="msg-wrap">
                            <div class="datTime-info">
                                <span>12/09</span>
                                <span>21:55:02</span>
                            </div>
                            <div class="othr-Info">
                                Order Id: <span>404-1733340-0061145 </span>
                            </div>
                            <div class="msg-cont">
                                <h6>Hello,</h6>
                                <p>This is to inform you that payment for order is pending from your order,with tracking ID 215125070603.</p>
                                <p>Lorem ipsum color domet is a dummy text is a standard set in late 1500’s ipsum color dolant a standard set in late 1500’s ipsum color dolant </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>