<div class="row">
    <div class="col-md-24">
        <div class="tab-wrap">
            <!-- Nav tabs -->
            <ul class="nav nav-pills">
                <li class="active" data-toggle="tab"><a href="#information" data-toggle="tab">My Information</a></li>
                <li class="" data-toggle="tab"><a href="#bankDetails" data-toggle="tab">My Bank Details</a></li>
                <li class="" data-toggle="tab"><a href="#setTargets" data-toggle="tab">Set Your Targets</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane theme-white active" id="information">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="list-heading">
                                <h3 class="list-title">Basic Information</h3>
                            </div>
                            <div class="list-cont">
                                <div class="profile-edit-wrap">
                                    <div class="profile-img-wrap">
                                        <a href="#" class="profile-img">
                                            <img src="images/bigProfileImg.svg" alt="profile-img" />
                                        </a>
                                        <div class="browseWindow">
                                            <a href="#" class="edit-img img-upload">
                                                <span class="icon icon-camera"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="profile-cont">
                                        <div class="mod-form-detail mod-form-wrap">
                                            <form>
                                                <ul class="form-list">
                                                    <li>
                                                        <div class="form-group">
                                                            <div class="data-wrap">
                                                            <label for="input1" class="data-name">Company Name</label>
                                                            <input type="text" class="form-control" placeholder="" id="input1" value="e-mart"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group">
                                                            <div class="data-wrap">
                                                                <label for="input2" class="data-name">Contact Person</label>
                                                                <input type="text" class="form-control" placeholder="" id="input2" value="John Doe">
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group">
                                                            <div class="data-wrap">
                                                                <label for="input3" class="data-name">Phone Number</label>
                                                                <input type="number" class="form-control" placeholder="" id="input3" value="7778889999">
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group">
                                                            <div class="data-wrap">
                                                                <label for="input4" class="data-name">Contact Person email</label>
                                                                <input type="email" class="form-control" placeholder="" id="input4" value="hello@emart.com">
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group">
                                                            <div class="data-wrap">
                                                                <label for="input5" class="data-name">Contact Person email</label>
                                                                <input type="email" class="form-control" placeholder="" id="input5" value="johndoe@emart.com">
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group">
                                                        <div class="data-wrap">
                                                            <label for="input6" class="data-name">Password</label>
                                                                <div class="input-group">
                                                                    <input type="password" class="form-control" placeholder="" id="input6" value="123456" aria-describedby="basic-addon1">
                                                                    <span class="input-group-addon" id="basic-addon1"><span class="icon icon-lock"></span></span>
                                                                </div>
                                                                <a href="#" class="pwd">Change Password</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-24">
                                            <div class="action-wrapper">
                                                <button class="btn btn-default" type="button">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-heading">
                                <h3 class="list-title">Registered Address</h3>
                            </div>
                            <div class="list-cont">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="list-heading">
                                            <h3 class="list-title">Office Address</h3>
                                        </div>
                                        <div class="list-cont">
                                            <div class="row">
                                                <div class="col-md-22">
                                                    <ul class="row">
                                                        <li class="col-md-24">
                                                            <div class="data-wrap">
                                                                <label class="data-name">Address</label>
                                                                <span class="data-value">Lorem Ipsum Dolors Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin dolors sit amet.</span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-6">
                                                            <div class="data-wrap">
                                                                <label class="data-name">City</label>
                                                                <span class="data-value">Mumbai</span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-6">
                                                            <div class="data-wrap">
                                                                <label class="data-name">State</label>
                                                                <span class="data-value">Maharashtra</span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-6">
                                                            <div class="data-wrap">
                                                                <label class="data-name">Postal Code</label>
                                                                <span class="data-value">400 001</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="list-heading">
                                            <h3 class="list-title">Warehouse Address</h3>
                                        </div>
                                        <div class="list-cont">
                                            <div class="row">
                                                <div class="col-md-16">
                                                    <ul class="row">
                                                        <li class="col-md-12">
                                                            <div class="data-wrap">
                                                                <label class="data-name">Address 1</label>
                                                                <span class="data-value">Lorem Ipsum Dolors Proin gravida.</span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-12">
                                                            <div class="data-wrap">
                                                                <label class="data-name">Address 2</label>
                                                                <span class="data-value">Lorem Ipsum Dolors Proin gravida.</span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-8">
                                                            <div class="data-wrap">
                                                                <label class="data-name">City</label>
                                                                <span class="data-value">Mumbai</span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-8">
                                                            <div class="data-wrap">
                                                                <label class="data-name">State</label>
                                                                <span class="data-value">Maharashtra</span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-8">
                                                            <div class="data-wrap">
                                                                <label class="data-name">Postal Code</label>
                                                                <span class="data-value">400 001</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="action-wrapper">
                                        <button class="btn btn-default" type="button">Save</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="bankDetails">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="list-heading">
                                <h3 class="list-title">KYC for Merchant</h3>
                            </div>
                            <div class="list-cont">
                                <ul class="row">
                                    <li class="col-md-3">
                                        <div class="data-wrap">
                                            <label class="data-name">PAN Number</label>
                                            <span class="data-value">DZKP0001234</span>
                                        </div>
                                    </li>
                                    <li class="col-md-3 col-md-offset-1">
                                        <div class="data-wrap">
                                            <label class="data-name">Name on PAN Card</label>
                                            <span class="data-value">John  Doe</span>
                                        </div>
                                    </li>
                                    <li class="col-md-3 col-md-offset-1">
                                        <div class="data-wrap">
                                            <label class="data-name">dd/mm/yy</label>
                                            <span class="data-value">25 / 09/ 1879</span>
                                        </div>
                                    </li>
                                    <li class="col-md-3 col-md-offset-1">
                                        <div class="data-wrap">
                                            <label class="data-name">Annual Turnover</label>
                                            <span class="data-value">30,00,000</span>
                                        </div>
                                    </li>
                                    <li class="col-md-3 col-md-offset-1">
                                        <div class="data-wrap">
                                            <label class="data-name">VAT Number</label>
                                            <span class="data-value">Maharashtra</span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-24">
                                        <div class="upload-wrap browseWindow">
                                            <div class="upload-cont">
                                                <div class="img-cont">
                                                    <img src="images/pancardImg.jpg" alt="img uploaded"/>
                                                </div>
                                                <span class="icon icon-close"></span>
                                            </div>
                                            <div class="upload-cont">
                                                <div class="img-cont">
                                                    <img src="images/pancardImg.jpg" alt="img uploaded"/>
                                                </div>
                                                <span class="icon icon-close"></span>
                                            </div>
                                             <button type="button" class="btn blackBodr-btn img-upload"><span class="icon icon-clip pull-left"></span>Upload Documents</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="list-heading">
                                <h3 class="list-title">Bank Details</h3>
                            </div>
                            <div class="list-cont">
                                <div class="row">
                                    <div class="col-md-18">
                                        <div class="mod-form-wrap mod-form-detail">
                                            <form>
                                                <ul class="form-list row">
                                                    <li class="col-md-7">
                                                        <div class="form-group">
                                                        <div class="data-wrap">
                                                            <label for="input1" class="data-name">Account Name</label>
                                                            <input type="text" class="form-control" placeholder="" id="input1" value="Lorem ipsum">
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="col-md-7 col-md-offset-1">
                                                        <div class="form-group">
                                                        <div class="data-wrap">
                                                            <label for="input2" class="data-name">Bank Name</label>
                                                            <input type="text" class="form-control" placeholder="" id="input2" value="Axis Bank">
                                                        </div>
                                                        </div>
                                                    </li>
                                                    <li class="col-md-7 col-md-offset-1">
                                                        <div class="form-group">
                                                        <div class="data-wrap">
                                                            <label for="input3" class="data-name">Account Number</label>
                                                            <input type="number" class="form-control" placeholder="" id="input3" value="4179163026227793">
                                                        </div>
                                                        </div>
                                                    </li>
                                                    <li class="col-md-7">
                                                        <div class="form-group">
                                                        <div class="data-wrap">
                                                            <label for="input4" class="data-name">Account Type </label>
                                                            <select class="select-noborder" tabindex="-1">
                                                                <option>Current</option>
                                                                <option>Current 1</option>
                                                                <option>Current 2</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="col-md-7 col-md-offset-1">
                                                        <div class="form-group">
                                                        <div class="data-wrap">
                                                            <label for="input5" class="data-name">Contact Person email</label>
                                                            <input type="email" class="form-control" placeholder="" id="input5" value="johndoe@emart.com">
                                                        </div>
                                                        </div>
                                                    </li>
                                                    <li class="col-md-7 col-md-offset-1">
                                                        <div class="form-group">
                                                        <div class="data-wrap">
                                                            <label for="input5" class="data-name">Contact Person email</label>
                                                            <input type="email" class="form-control" placeholder="" id="input5" value="johndoe@emart.com">
                                                        </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="action-wrapper">
                        <button class="btn btn-default" type="button">Save</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="setTargets">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="rangeSlider-wrap">
                                <label class="mod-title">Aspired Revenue for the month</label>
                                
                                    <div class="rangeSlider rangeSlider1" id="slider1"></div>
                                    <label><span class="inr">inr</span>0</label>
                                    <label class="pull-right"><span class="inr">inr</span>90,00,000</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="action-wrapper">
                            <button class="btn btn-default" type="button">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>