<div class="row">
    <div class="col-md-24">
        <div class="row">
            <div class="col-md-7">
                <select class="select-noborder" tabindex="-1">
                    <option>Sub-Category</option>
                    <option>Brand</option>
                    <option>Product</option>
                </select>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <button type="button" class="btn blackBodr-btn">Generate</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-24 table-responsive">
                <div class="panel table-summary">
                    <div class="panel-body">
                        <table class="table">
                            <colgroup>
                                <col width="20%">
                                <col width="15%">
                                <col width="30%">
                                <col width="15%">
                                <col width="10%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Report Type</th>
                                    <th>Batch ID</th>
                                    <th>Date &amp; Time</th>
                                    <th>Report Status</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cancelled Listing Report</td>
                                    <td>
                                        <label>5002801</label>
                                    </td>
                                    <td>
                                        <p>05/02/16  4:21:53 PM GMT +05:30</p>
                                    </td>
                                    <td>
                                        <label>Ready</label>
                                    </td>
                                   <td>
                                        <span class="icon icon-eye"></span>
                                    </td>
                                    <td>
                                        <a href="#"  class="icon icon-download">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Active Listing Report</td>
                                    <td>
                                        <label>5002801</label>
                                    </td>
                                    <td>
                                        <p>05/02/16  4:21:53 PM GMT +05:30</p>
                                    </td>
                                    <td>
                                        <label>Ready</label>
                                    </td>
                                    <td>
                                        <span class="icon icon-eye"></span>
                                    </td>
                                    <td>
                                        <a href="#"  class="icon icon-download">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Inventory Report</td>
                                    <td>
                                        <label>5002801</label>
                                    </td>
                                    <td>
                                        <p>05/02/16  4:21:53 PM GMT +05:30</p>
                                    </td>
                                    <td>
                                        <label>Ready</label>
                                    </td>
                                   <td>
                                        <span class="icon icon-eye"></span>
                                    </td>
                                    <td>
                                        <a href="#"  class="icon icon-download">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Open Listing Report</td>
                                    <td>
                                        <label>5002801</label>
                                    </td>
                                    <td>
                                        <p>05/02/16  4:21:53 PM GMT +05:30</p>
                                    </td>
                                    <td>
                                        <label>Ready</label>
                                    </td>
                                   <td>
                                        <span class="icon icon-eye"></span>
                                    </td>
                                    <td>
                                        <a href="#"  class="icon icon-download">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cancelled Listing Report</td>
                                    <td>
                                        <label>5002801</label>
                                    </td>
                                    <td>
                                        <p>05/02/16  4:21:53 PM GMT +05:30</p>
                                    </td>
                                    <td>
                                        <label>Ready</label>
                                    </td>
                                   <td>
                                        <span class="icon icon-eye"></span>
                                    </td>
                                    <td>
                                        <a href="#"  class="icon icon-download">
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
