<!-- Modal -->
<div class="modal fade matchPrice-popup" id="matchPrice">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icn">&nbsp;</span></button>	
        <div class="col-md-24">    
    		<h4 class="modal-title">Confirmation</h4>		        
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
	    	<div class="col-md-24">
	        		<span class="data-cont">Are you sure you wanna match the lowest price</span>
	        </div>
        </div>
      </div>
      <div class="modal-footer">
		    <div class="col-md-24">
		       	<button type="button" class="btn btn-default">Match</button>
              <button type="button" class="btn blackBodr-btn" data-dismiss="modal">Cancel</button>
		    </div>
      </div>
    </div>
  </div>
</div>
