<!-- Modal -->
<div class="modal fade" id="thankYou">
  <div class="modal-dialog modal-lg thankyou-popup">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="icn">&nbsp;</span></button>	
        <div class="col-md-12 col-md-offset-12">    
    		<h4 class="modal-title">Thanks !</h4>		        
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
	    	<div class="col-md-24">    
	        	<div class="col-md-12">
	        		<div class="col-md-14 col-md-offset-5">
	        			<div class="img-cont" href="#">
	        				<img src="images/prd_approved.png" alt="prd_approved">
	        			</div>
	        		</div>
	        	</div>
	        	<div class="col-md-9">
	        		<span class="data-cont">Your product has been sent for listing approval to the admin</span>
	        	</div>
	        </div>
        </div>
      </div>
      <div class="modal-footer">
		    <div class="col-md-12 col-md-offset-12">
		       	<button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
		    </div>
      </div>
    </div>
  </div>
</div>
