<div class="row">
    <div class="col-md-24">
        <p class="text">Please select or search the category you want your product to be listed on </p>
        <div class="search-wrap">
            <input class="search-input" placeholder="Select Category" type="text" />
            <button class="search-btn icon-search">
            </button>
        </div>
    </div>
    <div class="col-md-24">
        <div class="panel mod-product-spec-wrap theme-white">
            <div class="panel-header">
                <h3 class="panel-title pull-left">All Electronic product <span class="product-count"><span class="count">1547895</span> products</span></h3>
                <div class="pull-right">
                    <select class="select-with-border" tabindex="-1">
                        <option>Sub-Category</option>
                        <option>Clothing</option>
                        <option>Accessories</option>
                        <option>Eelctronics</option>
                    </select>
                    <select class="select-with-border" tabindex="-1">
                        <option>Brand</option>
                        <option>Accessories</option>
                        <option>Clothing</option>
                        <option>Eelctronics</option>
                    </select>
                    <select class="select-with-border" tabindex="-1">
                        <option>Product</option>
                        <option>Eelctronics</option>
                        <option>Accessories</option>
                        <option>Clothing</option>
                    </select>
                </div>
            </div>
            <div class="panel-body mod-product-spec-list">
                <ul class="customScroll">
                    <li>
                        <div class="mod-product-detail">
                            <a href="#" class="product-img">
                                <img src="images/productsmall1.jpg" alt="prduct img" />
                            </a>
                            <div class="product-info-cont">
                                <a href="#" class="product-title">Apple iPhone 5S<span class="spec">(Space Grey, 16 GB)</span></a>
                                <ul>
                                    <li class="data-wrap">
                                        <label class="data-name">Max Deduction</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                    <li class="data-wrap">
                                        <label class="data-name">Lowest Price</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn roundBg-btn">Add</button>
                        </div>
                    </li>
                    <li>
                        <div class="mod-product-detail">
                            <a href="#" class="product-img">
                                <img src="images/productsmall1.jpg" alt="prduct img" />
                            </a>
                            <div class="product-info-cont">
                                <a href="#" class="product-title">Dell Inspiron 3542 Y561929HIN9 Core i5 (4th Gen) - (8 GB DDR3/1 TB HDD/Windows 10/2 GB Graphics) Notebook</a>
                                <ul>
                                    <li class="data-wrap">
                                        <label class="data-name">Max Deduction</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                    <li class="data-wrap">
                                        <label class="data-name">Lowest Price</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn roundBg-btn">Add</button>
                        </div>
                    </li>
                    <li>
                        <div class="mod-product-detail">
                            <a href="#" class="product-img">
                                <img src="images/productsmall1.jpg" alt="prduct img" />
                            </a>
                            <div class="product-info-cont">
                                <a href="#" class="product-title">Samsung Galaxy Tab E<span class="spec">(Metallic Black, 8 GB, Wi-Fi+3G)</span></a>
                                <ul>
                                    <li class="data-wrap">
                                        <label class="data-name">Max Deduction</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                    <li class="data-wrap">
                                        <label class="data-name">Lowest Price</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn roundBg-btn">Add</button>
                        </div>
                    </li>
                    <li>
                        <div class="mod-product-detail">
                            <a href="#" class="product-img">
                                <img src="images/productsmall1.jpg" alt="prduct img" />
                            </a>
                            <div class="product-info-cont">
                                <a href="#" class="product-title">Apple iPhone 5S<span class="spec">(Space Grey, 16 GB)</span></a>
                                <ul>
                                    <li class="data-wrap">
                                        <label class="data-name">Max Deduction</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                    <li class="data-wrap">
                                        <label class="data-name">Lowest Price</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn roundBg-btn">Add</button>
                        </div>
                    </li>
                    <li>
                        <div class="mod-product-detail">
                            <a href="#" class="product-img">
                                <img src="images/productsmall1.jpg" alt="prduct img" />
                            </a>
                            <div class="product-info-cont">
                                <a href="#" class="product-title">Dell Inspiron 3542 Y561929HIN9 Core i5 (4th Gen) - (8 GB DDR3/1 TB HDD/Windows 10/2 GB Graphics) Notebook</a>
                                <ul>
                                    <li class="data-wrap">
                                        <label class="data-name">Max Deduction</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                    <li class="data-wrap">
                                        <label class="data-name">Lowest Price</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn roundBg-btn">Add</button>
                        </div>
                    </li>
                    <li>
                        <div class="mod-product-detail">
                            <a href="#" class="product-img">
                                <img src="images/productsmall1.jpg" alt="prduct img" />
                            </a>
                            <div class="product-info-cont">
                                <a href="#" class="product-title">Samsung Galaxy Tab E<span class="spec">(Metallic Black, 8 GB, Wi-Fi+3G)</span></a>
                                <ul>
                                    <li class="data-wrap">
                                        <label class="data-name">Max Deduction</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                    <li class="data-wrap">
                                        <label class="data-name">Lowest Price</label>
                                        <div class="data-value"><span class="inr">inr</span> 4,100</div>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn roundBg-btn">Add</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
