<div class="row">
    <div class="mod-product-edit-list theme-white">
        <div class="mod-cont">
            <ul class="product-heading">
                <li>
                    <label class="product-title">Product</label>
                    <div class="product-data-cont">
                        <table>
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <tr>
                                <th>SKU</th>
                                <th>Lowest Price</th>
                                <th>Selling Price</th>
                                <th>Deductions</th>
                                <th>Net Receivable</th>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
            <ul class="product-listing">
                <li>
                    <div class="img-cont">
                        <a href="#" class="product-img">
                            <img src="images/productsmall.jpg" alt="prduct img">
                        </a>
                        <a href="#" class="product-name">Apple iPhone 6S</a>
                    </div>
                    <div class="product-data-cont">
                        <table>
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <tr>
                                <td>
                                        <label>Marble White 16 GB</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 15,00</label>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        <label>Marble White 32 GB</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 15,00</label>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        <label>Marble White 64 GB</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 15,00</label>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="img-cont">
                        <a href="#" class="product-img">
                            <img src="images/productsmall1.jpg" alt="prduct img">
                        </a>
                        <a href="#" class="product-name">Samsung S3</a>
                    </div>
                    <div class="product-data-cont">
                        <table>
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <tr>
                                <td>
                                        <label>Marble White 16 GB</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 15,00</label>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        <label>Marble White 32 GB</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 15,00</label>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        <label>Marble White 64 GB</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 15,00</label>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="img-cont">
                        <a href="#" class="product-img">
                            <img src="images/productsmall2.jpg" alt="prduct img">
                        </a>
                        <a href="#" class="product-name">Lenovo A6000 Plus Lenovo A6000 Plus</a>
                    </div>
                    <div class="product-data-cont">
                        <table>
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <tr>
                                <td>
                                        <label>Marble White 16 GB</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 15,00</label>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        <label>Marble White 32 GB</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 15,00</label>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                        <label>Marble White 64 GB</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 15,00</label>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="action-wrapper">
        <button class="btn btn-default">Save</button>
    </div>
</div>
