<div class="row">
    <div class="col-md-24">
        <div class="tab-wrap">
            <!-- Nav tabs -->
            <ul class="nav nav-pills">
                <li class="active" data-toggle="tab"><a href="#categories" data-toggle="tab">Categories</a></li>
                <li class="" data-toggle="tab"><a href="#images" data-toggle="tab">images</a></li>
                <li class="" data-toggle="tab"><a href="#description" data-toggle="tab">Description</a></li>
                <li class="" data-toggle="tab"><a href="#pricing" data-toggle="tab">pricing</a></li>
                <li class="" data-toggle="tab"><a href="#othdetails" data-toggle="tab">Other Details</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane theme-transparent active" id="categories">
                    <div class="row">
                        <div class="col-md-24">
                            <p class="text">Please select or search the category you want your product to be listed on </p>
                            <div class="search-wrap">
                                <input class="search-input" placeholder="Select Category" type="text" />
                                <button class="search-btn icon-search">
                                </button>
                            </div>
                        </div>
                        <div class="col-md-24">                            
                            <div class="col-lg-6 col-md-8">
                                <div class="panel mod-select-listing">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Select Category</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="option" name="field">
                                                <label for="option">Clothing</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="option2" name="field">
                                                <label for="option2">Accessories</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="option3" name="field">
                                                <label for="option3">Electronics</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="option4" name="field">
                                                <label for="option4">Furniture</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="option5" name="field">
                                                <label for="option5">Sports</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="option6" name="field">
                                                <label for="option6">Footwear</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="option7" name="field">
                                                <label for="option7">Stationary</label>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="panel mod-select-listing">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Select Sub-Category</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption" name="field">
                                                <label for="subOption">Clothing</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption2" name="field">
                                                <label for="subOption2">Accessories</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption3" name="field">
                                                <label for="subOption3">Electronics</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption4" name="field">
                                                <label for="subOption4">Furniture</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption5" name="field">
                                                <label for="subOption5">Sports</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption6" name="field">
                                                <label for="subOption6">Footwear</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption7" name="field">
                                                <label for="subOption7">Stationary</label>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="panel mod-select-listing">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Select Brand</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption8" name="field">
                                                <label for="subOption8">Clothing</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption9" name="field">
                                                <label for="subOption9">Accessories</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption10" name="field">
                                                <label for="subOption10">Electronics</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption11" name="field">
                                                <label for="subOption11">Furniture</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption12" name="field">
                                                <label for="subOption12">Sports</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption13" name="field">
                                                <label for="subOption13">Footwear</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="checkbox-wrap">
                                                <input type="checkbox" id="subOption14" name="field">
                                                <label for="subOption14">Stationary</label>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-24">
                            <div class="action-wrapper">
                                <button class="btn btn-default" type="button">next</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="images">
                    <div class="upload-listing-cont">
                        <div class="upload-sec browseWindow">
                            <div class="mod-upload big">
                                <a href="#" class="img-upload"><img src="images/upload_img.png" alt="upload"></a>
                            </div>
                            <div class="thumb-cont">
                                <ul>
                                    <li class="mod-upload small">
                                        <a href="#" class="img-upload"><img src="images/camera_img.png" alt="upload"></a>
                                    </li>
                                    <li class="mod-upload small">
                                        <a href="#" class="img-upload"><img src="images/camera_img.png" alt="upload"></a>
                                    </li>
                                    <li class="mod-upload small">
                                        <a href="#" class="img-upload"><img src="images/camera_img.png" alt="upload"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="describe-cont">
                            <label class="text">Listings that are missing a main image will not appear in search or browse until you fix the listing. Choose images that are clear, information-rich, and attractive. Images must meet the following requirements:</label>
                            <ul>
                                <li>
                                    <p class="text">Products must fill at least 85% of the image. Images must show only the product that is for sale, with few or no props and with no logos, watermarks, or inset images. Images may only contain text that is a part of the product.</p>
                                </li>
                                <li>
                                    <p class="text">Main images must have a pure white background, must be a photo (not a drawing), and must not contain excluded accessories.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="action-wrapper">
                        <button class="btn btn-default" type="button">next</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="description">
                    <div class="mod-form-wrap">
                        <form action="">
                            <ul class="form-list">
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bullet Point 1">
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bullet Point 2">
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bullet Point 3">
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <textarea rows="3" class="form-control" placeholder="Description" ></textarea>
                                        </div>
                                    </div>
                                </li>                               
                            </ul>
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="action-wrapper">
                                        <button class="btn btn-default" type="button">next</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="pricing">
                    <div class="pricing-cont">
                        <div class="mod-form-wrap">
                            <form action="">
                                <ul class="form-list">
                                    <li class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Enter Selling Price">
                                            </div>
                                        </div>
                                    </li>                          
                                </ul>                            
                            </form>
                        </div>
                        <div class="price-list">
                            <h3 class="sec-title">Minimum receivable</h3>
                            <ul>
                                <li class="col-md-4 col-lg-3">
                                    <div class="data-wrap icon icon-minus">
                                        <label class="data-name">Selling Price</label>
                                        <span class="data-value"><span class="inr">inr</span> 54,589</span>
                                    </div>
                                </li>
                                <li class="col-md-4 col-lg-3">
                                    <div class="data-wrap icon icon-minus">
                                        <label class="data-name">SYSKA Fees</label>
                                        <span class="data-value"><span class="inr">inr</span> 500</span>
                                    </div>
                                </li>
                                <li class="col-md-4 col-lg-3">
                                    <div class="data-wrap icon icon-minus">
                                        <label class="data-name">Logistics</label>
                                        <span class="data-value"><span class="inr">inr</span> 50.20</span>
                                    </div>
                                </li>
                                <li class="col-md-4 col-lg-3">
                                    <div class="data-wrap icon icon-minus">
                                        <label class="data-name">PG Charges</label>
                                        <span class="data-value"><span class="inr">inr</span> 121</span>
                                    </div>
                                </li>
                                <li class="col-md-4 col-lg-4">
                                    <div class="data-wrap icon icon-total">
                                        <label class="data-name">Taxes</label>
                                        <span class="data-value"><span class="inr">inr</span> 56.25</span>
                                    </div>
                                </li>
                                <li class="col-md-4 col-lg-5">
                                    <div class="data-wrap total-val">
                                        <label class="data-name">TOTAL</label>
                                        <span class="data-value"><span class="inr">inr</span> 53,698</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-24">
                                <div class="action-wrapper">
                                    <button class="btn btn-default" type="button">next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="othdetails">
                    <div class="mod-form-wrap">
                        <form action="">
                            <ul class="form-list">
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Dimension">
                                                <div class="input-group-addon">Length</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-md-offset-1">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="">
                                                <div class="input-group-addon">Height</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-md-offset-1">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="">
                                                <div class="input-group-addon">width</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Weight">
                                                <span class="separator"></span>
                                                <div class="input-group-addon select-weight">       
                                                    <select class="select-noborder" tabindex="-1">
                                                        <option>Grams</option>
                                                        <option>Mg</option>
                                                        <option>Kg</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Material">
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Colour">
                                        </div>
                                    </div>
                                </li>                               
                            </ul>
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="action-wrapper">
                                        <button class="btn btn-default" type="button">save &amp; send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
