<div class="row">
    <div class="col-md-24">
        <p class="text">Please select or search the category you want your product to be listed on </p>
        <div class="search-wrap">
            <input class="search-input" placeholder="Select Category" type="text" />
            <button class="search-btn icon-search">
            </button>
        </div>
    </div>
    <div class="col-md-24">
        <div class="col-lg-6 col-md-12">
            <div class="panel mod-select-listing">
                <div class="panel-heading">
                    <h3 class="panel-title">Select Category</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="#">Clothing</a>
                        </li>
                        <li>
                            <a href="#">Accessories</a>
                        </li>
                        <li>
                            <a href="#">Electronics</a>
                        </li>
                        <li class="active">
                            <a href="#">Furniture</a>
                        </li>
                        <li>
                            <a href="#">Sports</a>
                        </li>
                        <li>
                            <a href="#">Footwear</a>
                        </li>
                        <li>
                            <a href="#">Stationary</a>
                        </li>
                        <li>
                            <a href="#">Clothing</a>
                        </li>
                        <li>
                            <a href="#">Accessories</a>
                        </li>
                        <li>
                            <a href="#">Electronics</a>
                        </li>
                        <li>
                            <a href="#">Furniture</a>
                        </li>
                        <li>
                            <a href="#">Sports</a>
                        </li>
                        <li>
                            <a href="#">Footwear</a>
                        </li>
                        <li>
                            <a href="#">Stationary</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel mod-select-listing">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    Select Sub-Category
                  </h3>
                </div>
                <div class="panel-body">
                  <ul>
                      <li>
                          <a href="#">Clothing</a>
                      </li>
                      <li>
                          <a href="#">Accessories</a>
                      </li>
                      <li>
                          <a href="#">Electronics</a>
                      </li>
                      <li class="active">
                          <a href="#">Furniture</a>
                      </li>
                      <li>
                          <a href="#">Sports</a>
                      </li>
                      <li>
                          <a href="#">Footwear</a>
                      </li>
                      <li>
                          <a href="#">Stationary</a>
                      </li>
                      <li>
                          <a href="#">Electronics</a>
                      </li>
                      <li>
                          <a href="#">Furniture</a>
                      </li>
                      <li>
                          <a href="#">Sports</a>
                      </li>
                      <li>
                          <a href="#">Footwear</a>
                      </li>
                      <li>
                          <a href="#">Stationary</a>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel mod-select-listing">
                <div class="panel-heading">
                  <h3 class="panel-title">Select Brand</h3>
                </div>
                <div class="panel-body">
                  <ul>
                      <li>
                          <div class="checkbox-wrap">
                              <input type="checkbox" id="option" name="field">
                              <label for="option">Clothing</label>
                          </div>
                      </li>
                      <li>
                          <div class="checkbox-wrap">
                              <input type="checkbox" id="option2" name="field">
                              <label for="option2">Accessories</label>
                          </div>
                      </li>
                      <li>
                          <div class="checkbox-wrap">
                              <input type="checkbox" id="option3" name="field">
                              <label for="option3">Electronics</label>
                          </div>
                      </li>
                      <li>
                          <div class="checkbox-wrap">
                              <input type="checkbox" id="option4" name="field">
                              <label for="option4">Furniture</label>
                          </div>
                      </li>
                      <li>
                          <div class="checkbox-wrap">
                              <input type="checkbox" id="option5" name="field">
                              <label for="option5">Sports</label>
                          </div>
                      </li>
                      <li>
                          <div class="checkbox-wrap">
                              <input type="checkbox" id="option6" name="field">
                              <label for="option6">Footwear</label>
                          </div>
                      </li>
                      <li>
                          <div class="checkbox-wrap">
                              <input type="checkbox" id="option7" name="field">
                              <label for="option7">Stationary</label>
                          </div>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel mod-select-listing">
                <div class="panel-heading">
                  <h3 class="panel-title">Select Product</h3>
                </div>
                <div class="panel-body">
                  <ul>
                    <li>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="subOption" name="field">
                            <label for="subOption">Clothing</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="subOption2" name="field">
                            <label for="subOption2">Accessories</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="subOption3" name="field">
                            <label for="subOption3">Electronics</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="subOption4" name="field">
                            <label for="subOption4">Furniture</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="subOption5" name="field">
                            <label for="subOption5">Sports</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="subOption6" name="field">
                            <label for="subOption6">Footwear</label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox-wrap">
                            <input type="checkbox" id="subOption7" name="field">
                            <label for="subOption7">Stationary</label>
                        </div>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-24">
        <div class="action-wrapper">
            <button class="btn btn-default" type="button">Continue</button>
        </div>
    </div>
</div>
