<div class="row">
    <div class="mod-product-edit-list theme-white">
        <div class="mod-cont">
            <ul class="product-heading">
                <li>
                    <label class="product-title">Product</label>
                    <div class="product-data-cont">
                        <table>
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <tr>
                                <th>SKU</th>
                                <th>Lowest Price</th>
                                <th>Selling Price</th>
                                <th>Quantity</th>
                                <th>Deductions</th>
                                <th>Net Receivable</th>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
            <ul class="product-listing customScroll">
                <li>
                    <div class="img-cont">
                        <a href="#" class="product-img">
                            <img src="images/productsmall.jpg" alt="prduct img">
                        </a>
                        <a href="#" class="product-name">Apple iPhone 6S</a>
                    </div>
                    <div class="product-data-cont">
                        <table>
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="option1" name="field" />
                                        <label for="option1">Marble White 16 GB</label>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <div class="edit-tab setprice-wrap">
                                        <a href="#" class="link">Set Price</a>
                                        <div class="input-wrap">
                                            <span class="inr">inr</span>
                                            <input type="text" value="" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-tab  qty-wrap">
                                        <div class="input-wrap">
                                            <input type="text" value="20" />
                                            <span class="qty-val">15</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="option2" name="field" />
                                        <label for="option2">Marble White 16 GB</label>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <div class="edit-tab setprice-wrap">
                                        <a href="#" class="link">Set Price</a>
                                        <div class="input-wrap">
                                            <span class="inr">inr</span>
                                            <input type="text" value="" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-tab  qty-wrap">
                                        <div class="input-wrap">
                                            <input type="text" value="15" />
                                            <span class="qty-val">15</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="option3" name="field" />
                                        <label for="option3">Marble White 16 GB</label>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <div class="edit-tab setprice-wrap">
                                        <a href="#" class="link">Set Price</a>
                                        <div class="input-wrap">
                                            <span class="inr">inr</span>
                                            <input type="text" value="" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-tab  qty-wrap">
                                        <div class="input-wrap">
                                            <input type="text" value="15" />
                                            <span class="qty-val">15</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="img-cont">
                        <a href="#" class="product-img">
                            <img src="images/productsmall1.jpg" alt="prduct img">
                        </a>
                        <a href="#" class="product-name">Samsung S3</a>
                    </div>
                    <div class="product-data-cont">
                        <table>
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="option4" name="field" />
                                        <label for="option4">Marble White 16 GB</label>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <div class="edit-tab setprice-wrap">
                                        <a href="#" class="link">Set Price</a>
                                        <div class="input-wrap">
                                            <span class="inr">inr</span>
                                            <input type="text" value="" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-tab  qty-wrap">
                                        <div class="input-wrap">
                                            <input type="text" value="20" />
                                            <span class="qty-val">15</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="option5" name="field" />
                                        <label for="option5">Marble White 16 GB</label>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <div class="edit-tab setprice-wrap">
                                        <a href="#" class="link">Set Price</a>
                                        <div class="input-wrap">
                                            <span class="inr">inr</span>
                                            <input type="text" value="" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-tab  qty-wrap">
                                        <div class="input-wrap">
                                            <input type="text" value="15" />
                                            <span class="qty-val">15</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="option6" name="field" />
                                        <label for="option6">Marble White 16 GB</label>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <div class="edit-tab setprice-wrap">
                                        <a href="#" class="link">Set Price</a>
                                        <div class="input-wrap">
                                            <span class="inr">inr</span>
                                            <input type="text" value="" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-tab  qty-wrap">
                                        <div class="input-wrap">
                                            <input type="text" value="15" />
                                            <span class="qty-val">15</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="img-cont">
                        <a href="#" class="product-img">
                            <img src="images/productsmall2.jpg" alt="prduct img">
                        </a>
                        <a href="#" class="product-name">Lenovo A6000 Plus Lenovo A6000 Plus</a>
                    </div>
                    <div class="product-data-cont">
                        <table>
                            <col width="25%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="option7" name="field" />
                                        <label for="option7">Marble White 16 GB</label>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <div class="edit-tab setprice-wrap">
                                        <a href="#" class="link">Set Price</a>
                                        <div class="input-wrap">
                                            <span class="inr">inr</span>
                                            <input type="text" value="" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-tab  qty-wrap">
                                        <div class="input-wrap">
                                            <input type="text" value="20" />
                                            <span class="qty-val">15</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="option8" name="field" />
                                        <label for="option8">Marble White 16 GB</label>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <div class="edit-tab setprice-wrap">
                                        <a href="#" class="link">Set Price</a>
                                        <div class="input-wrap">
                                            <span class="inr">inr</span>
                                            <input type="text" value="" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-tab  qty-wrap">
                                        <div class="input-wrap">
                                            <input type="text" value="15" />
                                            <span class="qty-val">15</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox-wrap">
                                        <input type="checkbox" id="option9" name="field" />
                                        <label for="option9">Marble White 16 GB</label>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                                <td>
                                    <div class="edit-tab setprice-wrap">
                                        <a href="#" class="link">Set Price</a>
                                        <div class="input-wrap">
                                            <span class="inr">inr</span>
                                            <input type="text" value="" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-tab  qty-wrap">
                                        <div class="input-wrap">
                                            <input type="text" value="15" />
                                            <span class="qty-val">15</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value">
                                        <span class="inr">inr</span>899
                                    </label>
                                    <div class="tooltip-wrap">
                                        <a href="#" class="icon icon-help tooltip-priceLink"></a>
                                        <div class="tooltip-cont hidden">
                                            <div class="tooltip-priceWrap">
                                                <dl>
                                                    <dt>Syska Fees</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Logistics</dt>
                                                    <dd><span class="inr">inr</span>120</dd>
                                                    <dt>PG Charges</dt>
                                                    <dd><span class="inr">inr</span>200</dd>
                                                    <dt>Taxes</dt>
                                                    <dd><span class="inr">inr</span>30</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <label class="data-value"><span class="inr">inr</span> 24,899</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="action-wrapper">
        <button class="btn btn-default">Save</button>
    </div>
</div>
