<div class="row">
    <div class="col-md-24">
        <div class="upload-wrap">
            <div class="mod-form-wrap">
                        <form action="">
                            <ul class="form-list">
                                <li class="row">
                                    <div class="col-lg-10 col-md-12 browse-section">                                      
                                        <div class="col-md-16">
                                            <div class="form-group">
                                                <input type="text" disabled="disabled" placeholder="Choose file to upload" id="uploadFile" class="uploadinput form-control">                
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="fileUpload btn blackBodr-btn">
                                                <span>browse</span>
                                                <input type="file" class="upload" id="uploadBtn">
                                            </div>
                                        </div>
                                    </div>
                                </li>                            
                            </ul>
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="action-wrapper">
                                        <button class="btn btn-default" type="button">upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </div>
</div>
