<div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="mod-search-product">
                <h3 class="mod-title">List a Product</h3>
                <p>Search from millions of products listed</p>
                <div class="search-wrap">
                  <input class="search-input" placeholder="Select Category" type="text"/>
                  <button class="search-btn icon-search"></button>
                </div>
                <div class="or-section">
                  <span class="or">OR</span>
                  <span class="hor-line"></span>
                </div>
                <p>Choose from millions of listed products on SYSKA. Add a few details and sell.</p>
                <button type="button" class="btn blue-btn">add from catalogue</button>
              </div>
            </div>
            <div class="col-md-12 col-lg-8">
              <div class="mod-search-product">
                <h3 class="mod-title">Create new Product</h3>
                <button type="button" class="btn blue-btn margintop-45">Create new listing</button>
                <div class="or-section">
                  <span class="or">OR</span>
                  <span class="hor-line"></span>
                </div>
                <p>Want to list in bulk ? Please download and fill the <a href="#" class="green-text">content sheet</a> to get started</p>
                <button type="button" class="btn blue-btn">Add products in bulk</button>
              </div>
            </div>
         </div>