<div class="row">
    <div class="col-md-24">
        <div class="tab-wrap">
            <!-- Nav tabs -->
            <ul class="nav nav-pills">
                <li class="active" data-toggle="tab"><a href="#createpromo" data-toggle="tab">create promotions</a></li>
                <li class="" data-toggle="tab"><a href="#editpromo" data-toggle="tab">Edit Promotions</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane theme-transparent active" id="createpromo">
                    <div class="row">
                        <div class="col-sm-24">                    
                            <ul>
                                <li class="col-md-8">
                                    <div class="panel theme-white mod-list-box">
                                        <div class="panel-body">
                                            <span class="icon icon-payments redBg"></span>
                                            <div class="cont-wrap">
                                                <span class="title">Money Off</span>
                                                <p class="desc">Offer a percentage or rupee discount on your entire catalogue or a subset of your catalogue.</p>
                                                <a href="promotions_step2.shtml" class="link">CREATE</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-8">
                                    <div class="panel theme-white mod-list-box">
                                        <div class="panel-body">
                                            <span class="icon icon-money"></span>
                                            <div class="cont-wrap">
                                                <span class="title">Buy 1 Get 1</span>
                                                <p class="desc">Offer one or more items for free on a qualifying purchase from your entire catalog or a subset of your catalog. </p>
                                                <a href="#" class="link">CREATE</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-8">
                                    <div class="panel theme-white mod-list-box">
                                        <div class="panel-body">
                                            <span class="icon icon-bags cyanBg"></span>
                                            <div class="cont-wrap">
                                                <span class="title">External Benefits</span>
                                                <p class="desc">Offer a post-order benefit on qualifying purchases from your entire catalogue or a subset of your catalogue.</p>
                                                <a href="#" class="link">CREATE</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="editpromo">
                    <div class="table-summary">
                        <div class="row">
                            <div class="col-md-24">
                                <h3 class="mod-title pull-left">Promotions</h3>
                                <div class="pull-right">
                                    <select class="select-with-border pull-left" tabindex="-1">
                                        <option>Promotion Type</option>
                                        <option>Popularity</option>
                                        <option>Accessories</option>
                                        <option>Eelctronics</option>
                                    </select>
                                    <div class="checkbox toggle-btn-wrap pull-left">
                                        <input type="checkbox" data-toggle="toggle" id="#toggle-btn">
                                        <label for="#toggle-btn">
                                            Active
                                            <span class="icon icon-updown"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <col style="width:17.66%">
                                <col style="width:17.66%">
                                <col style="width:17.66%">
                                <col style="width:17.66%">
                                <col style="width:17.66%">
                                <col style="width:11.66%">
                                <thead>
                                    <tr>
                                        <th>Promotion ID</th>
                                        <th>Promotion Type</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#" class="link">16234HJK</a></td>
                                        <td>
                                            <label>SSK-QA0301-6500K</label>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <label class="green-text">ACTIVE</label>
                                        </td>
                                        <td>
                                            <div class="icon-wrap">
                                                <ul>
                                                    <li>
                                                        <span class="icon icon-pencil"></span>
                                                    </li>
                                                    <li>
                                                        <span class="icon icon-trash"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">16234HJK</a></td>
                                        <td>
                                            <label>SSK-QA0301-6500K</label>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <label class="green-text">ACTIVE</label>
                                        </td>
                                        <td>
                                            <div class="icon-wrap">
                                                <ul>
                                                    <li>
                                                        <span class="icon icon-pencil"></span>
                                                    </li>
                                                    <li>
                                                        <span class="icon icon-trash"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">16234HJK</a></td>
                                        <td>
                                            <label>SSK-QA0301-6500K</label>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <label class="red-text">INACTIVE</label>
                                        </td>
                                        <td>
                                            <div class="icon-wrap">
                                                <ul>
                                                    <li>
                                                        <span class="icon icon-pencil"></span>
                                                    </li>
                                                    <li>
                                                        <span class="icon icon-trash"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">16234HJK</a></td>
                                        <td>
                                            <label>SSK-QA0301-6500K</label>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <label class="red-text">INACTIVE</label>
                                        </td>
                                        <td>
                                            <div class="icon-wrap">
                                                <ul>
                                                    <li>
                                                        <span class="icon icon-pencil"></span>
                                                    </li>
                                                    <li>
                                                        <span class="icon icon-trash"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>