<div class="row">
    <div class="col-md-24">
        <div class="tab-wrap">
            <!-- Nav tabs -->
            <ul class="nav nav-pills">
                <li class="active" data-toggle="tab"><a href="#createpromo" data-toggle="tab">create promotions</a></li>
                <li class="" data-toggle="tab"><a href="#editpromo" data-toggle="tab">Edit Promotions</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane theme-white active" id="createpromo">
                    <div class="row">
                        <div class="col-sm-20">
                            <div class="table-summary">                                
                                <div class="mod-form-wrap">
                                    <h3 class="mod-title">Money Off</h3>
                                    <form action="">
                                        <ul class="form-list">
                                            <li class="row">
                                                <div class="col-md-11">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Minimum Quantity">
                                                    </div>
                                                </div>
                                                <div class="col-md-11 col-md-offset-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Minimum Amount">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col-md-11">
                                                    <div class="form-group">
                                                        <select class="select-noborder" tabindex="-1">
                                                            <option>Category</option>
                                                            <option>Category 1</option>
                                                            <option>Category 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-11 col-md-offset-2">
                                                    <div class="form-group">
                                                        <select class="select-noborder" tabindex="-1">
                                                            <option>Product</option>
                                                            <option>Product 1</option>
                                                            <option>Product 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col-md-11">
                                                    <div class="form-group">
                                                        <select class="select-noborder" tabindex="-1">
                                                            <option>Shipping</option>
                                                            <option>Shipping 1</option>
                                                            <option>Shipping 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-11 col-md-offset-2">
                                                    <div class="form-group">
                                                        <select class="select-noborder" tabindex="-1">
                                                            <option>Shipping Option</option>
                                                            <option>Shipping Option 1</option>
                                                            <option>Shipping Option 2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="row">
                                                <div class="col-md-11">
                                                    <div class="form-group cal-cont">
                                                        <div class="input-group date" id="startDate" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input2" data-link-format="dd/mm/yyyy">
                                                            <input class="form-control" type="text" value="" readonly="" />
                                                            <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar icon icon-cal"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-11 col-md-offset-2">
                                                    <div class="form-group cal-cont">
                                                        <div class="input-group date" id="endDate" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input2" data-link-format="dd/mm/yyyy">
                                                            <input class="form-control" type="text" value="" readonly="" />
                                                            <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar icon icon-cal"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="row">
                                            <div class="col-md-24">
                                                <div class="action-wrapper">
                                                    <button class="btn btn-default" type="button">create</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="editpromo">
                    <div class="table-summary">
                        <div class="row">
                            <div class="col-md-24">
                                <h3 class="mod-title pull-left">Promotions</h3>
                                <div class="pull-right">
                                    <select class="select-with-border pull-left" tabindex="-1">
                                        <option>Promotion Type</option>
                                        <option>Popularity</option>
                                        <option>Accessories</option>
                                        <option>Eelctronics</option>
                                    </select>
                                    <div class="checkbox toggle-btn-wrap pull-left">
                                        <input type="checkbox" data-toggle="toggle" id="#toggle-btn">
                                        <label for="#toggle-btn">
                                            Active
                                            <span class="icon icon-updown"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <col style="width:17.66%">
                                <col style="width:17.66%">
                                <col style="width:17.66%">
                                <col style="width:17.66%">
                                <col style="width:17.66%">
                                <col style="width:11.66%">
                                <thead>
                                    <tr>
                                        <th>Promotion ID</th>
                                        <th>Promotion Type</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#" class="link">16234HJK</a></td>
                                        <td>
                                            <label>SSK-QA0301-6500K</label>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <label class="green-text">ACTIVE</label>
                                        </td>
                                        <td>
                                            <div class="icon-wrap">
                                                <ul>
                                                    <li>
                                                        <span class="icon icon-pencil"></span>
                                                    </li>
                                                    <li>
                                                        <span class="icon icon-trash"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">16234HJK</a></td>
                                        <td>
                                            <label>SSK-QA0301-6500K</label>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <label class="green-text">ACTIVE</label>
                                        </td>
                                        <td>
                                            <div class="icon-wrap">
                                                <ul>
                                                    <li>
                                                        <span class="icon icon-pencil"></span>
                                                    </li>
                                                    <li>
                                                        <span class="icon icon-trash"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">16234HJK</a></td>
                                        <td>
                                            <label>SSK-QA0301-6500K</label>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <label class="red-text">INACTIVE</label>
                                        </td>
                                        <td>
                                            <div class="icon-wrap">
                                                <ul>
                                                    <li>
                                                        <span class="icon icon-pencil"></span>
                                                    </li>
                                                    <li>
                                                        <span class="icon icon-trash"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" class="link">16234HJK</a></td>
                                        <td>
                                            <label>SSK-QA0301-6500K</label>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <p>05 / 01 / 16</p>
                                        </td>
                                        <td>
                                            <label class="red-text">INACTIVE</label>
                                        </td>
                                        <td>
                                            <div class="icon-wrap">
                                                <ul>
                                                    <li>
                                                        <span class="icon icon-pencil"></span>
                                                    </li>
                                                    <li>
                                                        <span class="icon icon-trash"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>