<div class="row">
           <div class="col-md-24">
             <div class="mod-product-detail-spec">
               <a href="#" class="product-img">
                 <img src="images/product3.jpg" alt="product image"/>
               </a>
               <div class="product-cont">
                 <h3 class="mod-title big-title">iPHONE 6S <span class="product-spec">&#40; Space Grey 32 GB &#41;</span></h3>
                 <div class="product-specList col-lg-18">
                  <ul>
                    <li>
                      <div class="data-wrap">
                      <span class="data-name">ASIN</span>
                      <label class="data-value">BOOR497849</label>
                      </div>
                    </li>
                    <li>
                      <div class="data-wrap">
                      <span class="data-name">Manufacturer</span>
                      <label class="data-value">Apple</label>
                      </div>
                    </li>
                    <li>
                      <div class="data-wrap">
                      <span class="data-name">Brand Name</span>
                      <label class="data-value">iPhone</label>
                      </div>
                    </li>
                    <li>
                      <div class="data-wrap">
                      <span class="data-name">Product ID</span>
                      <label class="data-value">782632955752981</label>
                      </div>
                    </li>
                    <li>
                      <div class="data-wrap">
                      <span class="data-name">Selling Price</span>
                      <label class="data-value"><span class="inr">inr</span>54,589</label>
                      </div>
                    </li>
                    <li>
                      <div class="data-wrap">
                      <span class="data-name">Lowest Price</span>
                      <label class="data-value"><span class="inr">inr</span>51,589</label>
                      </div>
                    </li>
                    <li>
                      <div class="data-wrap">
                      <span class="data-name">In Stock</span>
                      <label class="data-value"><span class="inr">inr</span>256</label>
                      </div>
                    </li>
                    <li>
                      <div class="data-wrap">
                      <span class="data-name">Status</span>
                      <label class="data-value green-text">Active</label>
                      </div>
                    </li>
                  </ul>
                  </div>
               </div>
             </div>
           </div>
         </div>