<div class="row">
    <div class="col-md-24">
        <div class="tab-wrap">
            <!-- Nav tabs -->
            <ul class="nav nav-pills">
                <li class="active" data-toggle="tab"><a href="#offer" data-toggle="tab">Offer</a></li>
                <li class="" data-toggle="tab"><a href="#images" data-toggle="tab">images</a></li>
                <li class="" data-toggle="tab"><a href="#description" data-toggle="tab">Description</a></li>
                <li class="" data-toggle="tab"><a href="#pricing" data-toggle="tab">pricing</a></li>
                <li class="" data-toggle="tab"><a href="#status" data-toggle="tab">status</a></li>
                <li class="" data-toggle="tab"><a href="#othdetails" data-toggle="tab">Other Details</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane theme-white active" id="offer">
                    <div class="col-md-24">
                        <div class="data-wrap price-info-cont">
                            <label class="data-name">Selling Price</label>
                            <span class="data-value"><span class="inr">inr</span> 54,589</span>
                        </div>
                    </div>
                    <div class="mod-form-wrap">
                        <form action="">
                            <ul class="form-list">
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Offer Price">
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="cal-cont form-group">
                                            <span class="cal-text">From</span>
                                            <div class='input-group date' id='startDate' data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input2" data-link-format="dd/mm/yyyy">
                                                
                                                <input class="form-control" type="text" value="" readonly="">
                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar icon-cal"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="cal-cont form-group">
                                            <span class="cal-text">To</span>
                                            <div class='input-group date' id="endDate" data-date="" data-date-format="dd/mm/yyyy" data-link-field="dtp_input2" data-link-format="dd/mm/yyyy">
                                                
                                                <input class="form-control" type="text" value="" readonly="">
                                                <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-calendar icon-cal"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="action-wrapper">
                                        <button class="btn btn-default" type="button">next</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="images">
                    <div class="upload-listing-cont">
                        <div class="upload-sec browseWindow">
                            <div class="mod-upload big">
                                <a href="#" class="img-upload"><img src="images/upload_img.png" alt="upload"></a>
                            </div>
                            <div class="thumb-cont">
                                <ul>
                                    <li class="mod-upload small">
                                        <a href="#" class="img-upload"><img src="images/camera_img.png" alt="upload"></a>
                                    </li>
                                    <li class="mod-upload small">
                                        <a href="#" class="img-upload"><img src="images/camera_img.png" alt="upload"></a>
                                    </li>
                                    <li class="mod-upload small">
                                        <a href="#" class="img-upload"><img src="images/camera_img.png" alt="upload"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="describe-cont">
                            <label class="text">Listings that are missing a main image will not appear in search or browse until you fix the listing. Choose images that are clear, information-rich, and attractive. Images must meet the following requirements:</label>
                            <ul>
                                <li>
                                    <p class="text">Products must fill at least 85% of the image. Images must show only the product that is for sale, with few or no props and with no logos, watermarks, or inset images. Images may only contain text that is a part of the product.</p>
                                </li>
                                <li>
                                    <p class="text">Main images must have a pure white background, must be a photo (not a drawing), and must not contain excluded accessories.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="action-wrapper">
                        <button class="btn btn-default" type="button">next</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="description">
                    <div class="mod-form-wrap">
                        <form action="">
                            <ul class="form-list">
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bullet Point 1">
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bullet Point 2">
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bullet Point 3">
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <textarea rows="3" class="form-control" placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="action-wrapper">
                                        <button class="btn btn-default" type="button">next</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="pricing">
                    <div class="pricing-cont">
                        <div class="row price-info-cont">
                            <div class="col-md-4">
                                <div class="data-wrap">
                                    <label class="data-name">Lowest Selling Price</label>
                                    <span class="data-value"><span class="inr">inr</span> 54,589</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn blackBodr-btn" data-toggle="modal" data-target="#matchPrice">Match Price</button>
                            </div>
                        </div>
                        <div class="mod-form-wrap">
                            <form action="">
                                <ul class="form-list">
                                    <li class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Enter Selling Price">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="price-list">
                            <h3 class="sec-title">Minimum receivable</h3>
                            <ul>
                                <li class="col-lg-3 col-md-4">
                                    <div class="data-wrap icon icon-minus">
                                        <label class="data-name">Selling Price</label>
                                        <span class="data-value"><span class="inr">inr</span> 54,589</span>
                                    </div>
                                </li>
                                <li class="col-lg-3 col-md-4">
                                    <div class="data-wrap icon icon-minus">
                                        <label class="data-name">SYSKA Fees</label>
                                        <span class="data-value"><span class="inr">inr</span> 500</span>
                                    </div>
                                </li>
                                <li class="col-lg-3 col-md-4">
                                    <div class="data-wrap icon icon-minus">
                                        <label class="data-name">Logistics</label>
                                        <span class="data-value"><span class="inr">inr</span> 50.20</span>
                                    </div>
                                </li>
                                <li class="col-lg-3 col-md-4">
                                    <div class="data-wrap icon icon-minus">
                                        <label class="data-name">PG Charges</label>
                                        <span class="data-value"><span class="inr">inr</span> 121</span>
                                    </div>
                                </li>
                                <li class="col-lg-4 col-md-4">
                                    <div class="data-wrap icon icon-total">
                                        <label class="data-name">Taxes</label>
                                        <span class="data-value"><span class="inr">inr</span> 56.25</span>
                                    </div>
                                </li>
                                <li class="col-lg-5 col-md-4">
                                    <div class="data-wrap total-val">
                                        <label class="data-name">TOTAL</label>
                                        <span class="data-value"><span class="inr">inr</span> 53,698</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-24">
                                <div class="action-wrapper">
                                    <button class="btn btn-default" type="button">next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="status">
                    <div class="mod-form-wrap">
                        <form action="">
                            <ul class="form-list">
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon inputSelectBox">
                                                    <select class="select-noborder" tabindex="-1">
                                                        <option>Product status</option>
                                                        <option>Active</option>
                                                        <option>Inactive</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="action-wrapper">
                                        <button class="btn btn-default" type="button">next</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane theme-white" id="othdetails">
                    <div class="mod-form-wrap">
                        <form action="">
                            <ul class="form-list">
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Package Dimension">
                                                <div class="input-group-addon">Length</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-md-offset-1">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="">
                                                <div class="input-group-addon">Height</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-md-offset-1">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="">
                                                <div class="input-group-addon">width</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Weight">
                                                <span class="separator"></span>
                                                <div class="input-group-addon select-weight">
                                                    <select class="select-noborder" tabindex="-1">
                                                        <option>Grams</option>
                                                        <option>Mg</option>
                                                        <option>Kg</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Shipping Weight">
                                                <span class="separator"></span>
                                                <div class="input-group-addon select-weight">
                                                    <select class="select-noborder" tabindex="-1">
                                                        <option>Grams</option>
                                                        <option>Mg</option>
                                                        <option>Kg</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Material">
                                        </div>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Colour">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-md-24">
                                    <div class="action-wrapper">
                                        <button class="btn btn-default" type="button">save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
